<template>
    <div class="container my-1 mb-0">
        <h4 class="text-center poppins text-dark font-weight-bold text-uppercase">Historial de pagos</h4> 
        <hr class="bg-dark-blue">
         <div class="mb-2 mt-1">
             <el-radio v-model="typePay"  label="GENERADOS" class="m-0 poppins-light" border size="medium">GENERADOS</el-radio>
            <el-radio v-model="typePay"  label="EXPIRADOS" class="m-0 mr-1 poppins-light" border size="medium">EXPIRADOS</el-radio>
        </div>
        <el-divider></el-divider>
        <div class="d-flex justify-content-center">
            <el-date-picker
            class="w-80 mb-4"
            v-model="dateRange"
            type="daterange"
            align="center"
            unlink-panels
            range-separator="-"
            start-placeholder="Desde"
            end-placeholder="Hasta"
            :picker-options="pickerOptions"
            :default-time="['00:00:00', '23:59:59']"
            >
            </el-date-picker> 
        </div> 
         <el-input placeholder="" class="mb-2 poppins input-s" v-model="filters[0].value">  
                    <template slot="prepend">Buscar</template>
        </el-input> 
        <data-tables v-loading.body="loading" :table-props="tableProps" :data="pays" :filters="filters" >
            <el-table-column prop="amount" label="Monto" header-align="center" align="center">
                <template slot-scope="scope">
                    <span>{{'$ '+scope.row.amount.toLocaleString('de-DE')}}</span>
                </template>  
            </el-table-column>
            <el-table-column prop="deductions" label="Impuestos" header-align="center" align="center">
                <template slot-scope="scope">
                    <span>{{'$ '+scope.row.deductions.toLocaleString('de-DE')}}</span>
                </template>  
            </el-table-column>
            <el-table-column prop="neto" label="Neto" header-align="center" align="center">
                <template slot-scope="scope">
                    <span>{{'$ '+scope.row.neto.toLocaleString('de-DE')}}</span>
                </template>  
            </el-table-column>
            <el-table-column prop="created_at" label="fecha expedición" sortable="custom" header-align="center" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.created_at.split('T')[0]}}</span>
                </template>
            </el-table-column>
        </data-tables>
    </div>
</template>
<script>
import { setTimeout } from 'timers';
export default {
    data() {
        return {
            dateRange: '',
            pickerOptions: {
            shortcuts: [{
                text: 'Ultima semana',
                onClick(picker) {
                const end = new Date();
                const start = new Date();
                start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                picker.$emit('pick', [start, end]);
                }
            }, {
                text: 'Ultimo mes',
                onClick(picker) {
                const end = new Date();
                const start = new Date();
                start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                picker.$emit('pick', [start, end]);
                }
            }, {
                text: 'Ultimos 3 meses',
                onClick(picker) {
                const end = new Date();
                const start = new Date();
                start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                picker.$emit('pick', [start, end]);
                }
            }]
            },
            
            pays:[],
            dataPays:[],
            loading:false,
            tableProps: 
            {
                border: false,
                stripe: true,
                defaultSort: {                
                order: 'descending'
                }
            },
            filters: 
            [
                {
                    prop: ['amount','deductions','neto','created_at'],
                    value: ''
                }
            ],
            typePay:''
        }
    },
    watch: { 
        'dateRange': function (newVal) { 
            if(newVal && newVal != null){
                let startDate = Date.parse(newVal[0])
                let endDate = Date.parse(newVal[1])
                 this.pays = []                 
                for (const key in this.dataPays) {
                    let rangeDate = Date.parse(this.dataPays[key].created_at)
                    let typep = this.dataPays[key].status
                    let typePa = ''
                    switch (typep) {
                        case 'payout':
                            typePa = 'GENERADOS'
                            break;
                        case 'expired':
                            typePa = 'EXPIRADOS'
                            break;    
                    
                        default:
                            break;
                    }
                    if(rangeDate >= startDate && rangeDate <= endDate && this.typePay == typePa) {
                            
                        this.pays.push(this.dataPays[key])
                    }                  
                }
                                              
            } else {
                // this.tableDefault()
                this.pays = []
                if(this.typePay == 'GENERADOS')
                {
                   for (const keyy in this.dataPays) {
                        let status = this.dataPays[keyy].status
                        if(status == 'payout') {                           
                            this.pays.push(this.dataPays[keyy]) 
                        }                         
                    }   
                }
                else
                {
                     for (const key in this.dataPays) {
                        let status =this.dataPays[key].status
                        if(status == 'expired') {                             
                            this.pays.push(this.dataPays[key]) 
                        }   
                    }   
                }

            } 
        },
        'typePay': function (type) {
            if(type != null){
                this.dateRange = ''
                this.pays = []
                if(type == 'EXPIRADOS')
                {
                    for (const key in this.dataPays) {
                        let status =this.dataPays[key].status
                        if(status == 'expired') {                             
                            this.pays.push(this.dataPays[key]) 
                        }   
                    }   
                }
                if(type == 'GENERADOS')
                {
                    for (const keyy in this.dataPays) {
                        let status = this.dataPays[keyy].status
                        if(status == 'payout') {                           
                            this.pays.push(this.dataPays[keyy]) 
                        }                         
                    }   
                }
            }
        }
    },
    mounted() {
        this.sessdata()
        
    },
    methods:{
         sessdata() {
            axios.post('/auth/sessdata', {fields: ['_id']}).then(resp => 
            {                     
                let res = this.$myCryptor.decode(resp.data.data);                                                        
                let id = res[0]
               this.getPays(id)
               setTimeout(() => {
            this.typePay = 'GENERADOS'
            
        },300);
        // setTimeout(() => {
        //     this.tableDefault()
        // }, 200);
        // console.log(this.dataPays)
                
            })
        },
        getPays(id) {
           let idp = this.$myCryptor.encode(id)
           axios.post('/auth/mypays',{data:idp}).then((resp) => {
               if(resp.data.status == 'success')
               {
                   let data = this.$myCryptor.decode(resp.data.data)
                   for (let index = 0; index < data.length; index++) {
                       this.dataPays.push(data[index])                  
                   }
                
               }
               else {
                   //poner el message
               }

           })
        },
        tableDefault() {
            // this.typePay = 'GENERADOS'
            this.pays = []
            if(this.typePay == 'GENERADOS')
            {
                for (const key in this.dataPays) {
                        let status =this.dataPays[key].status
                        if(status == 'payout') {                             
                            this.pays.push(this.dataPays[key]) 
                        }   
                    } 
                    
            }
            if(this.typePay == 'EXPIRADOS')
            {
                for (const key in this.dataPays) {
                        let status =this.dataPays[key].status
                        if(status == 'expired') {                             
                            this.pays.push(this.dataPays[key]) 
                        }   
                    } 
                    
            }
        }
    }
    
}
</script>