<template>
    <div class="container my-1 p-0 d-flex justify-content-center align-items-center">
        <div class="mt-4" id="count" style="background: #3697ff;
                    padding: 8px;
                    border-radius: 5px;
                    box-shadow: 0px 14px 20px 0px rgba(0, 0, 0, 0.19);">
            <h4 id="head" class="text-center mt-3 mb-3 text-white">Lanzamiento tienda virtual <strong>IMPHA</strong></h4>            
            <ul class="count-list text-center">
                <li><span id="days">{{days}}</span>Días</li>
                <li><span id="hours">{{hours}}</span>Horas</li>
                <li><span id="minutes">{{minute}}</span>Minutos</li>
                <li><span id="seconds">{{second}}</span>Segundos</li>
            </ul>
        </div>
    </div>
</template>
<script>
export default {
    data()
    {
        return{
            url:'',
            xx: null,
            days: '',
            hours: '',
            minute: '',
            second: ''
        }
    },
    mounted()
    {   
        if(this.$route.path == '/')
        {            
            this.count()
        } else{
            clearInterval(this.xx)
            this.xx = null
        }
    }, 
    methods:
    {
        count()
        {
            const second = 1000,
            minute = second * 60,
            hour = minute * 60,
            day = hour * 24;
    
            let countDown = new Date('Sep 09, 2019 08:00:00').getTime()
            if($('#count').length != 0)
            {
                this.xx = setInterval(() => {

                    let now = new Date().getTime(),
                        distance = countDown - now;
                    if(Math.floor(distance / (day)) < 10)
                    {                    
                        this.days =  '0'+Math.floor(distance / (day))
                    } else{
                        this.days =  Math.floor(distance / (day))
                    }
                    
                    if(Math.floor((distance % (day)) / (hour)) < 10)
                    {                
                        this.hours = '0'+Math.floor((distance % (day)) / (hour))
                    } else{
                        this.hours = Math.floor((distance % (day)) / (hour))
                    }

                    if(Math.floor((distance % (hour)) / (minute)) < 10)
                    {                
                        this.minute = '0'+Math.floor((distance % (hour)) / (minute))
                    } else{
                        this.minute = +Math.floor((distance % (hour)) / (minute))
                    }

                    if(Math.floor((distance % (minute)) / second) < 10)
                    {                
                        this.second ='0'+Math.floor((distance % (minute)) / second)
                    } else{
                        this.second = Math.floor((distance % (minute)) / second);
                    }                                   
                    
                    //do something later when date is reached
                    // if (distance < 0) 
                    // {
                    //     clearInterval(x);
                    //     alert('se acabo')
                    // }

                }, second)
            } else {
                alert('c mamo')
            }
        }
    }
}
</script>