
<template>
    <div class="zone">
        <div  class="zoom-zone d-flex justify-content-center align-items-center" style="">
            <div :class="{'pr-5': affiliatesLeft.length == 2, 'pr-0': affiliatesLeft.length > 2, 'mr-4': twomoreL == 'line' && affiliatesLeft.length > 3}" class="tf-tree treell tf-custom tf-ancestor-tree tree text-right d-flex justify-content-end align-items-center" id="tl">
                <ul id="treel" class="ml-3" :class="{'morrr': (affiliatesLeft.length > 2 && twomoreL == false) || twomoreL == 'other', 'morrrT': twomoreL == true, 'morrrTT': twomoreL == 'line' && affiliatesLeft.length >= 3}">
                  <li id="treeleft"></li>
                </ul>
              </div> 
            <div class="d-flex align-items-center justify-content-center" id="sunshine">                
                <!-- <div class="orb roll-in-blurred-left" v-for="(d, index) in orbs" :key="index"></div> -->
                <div class="sun d-flex poppins">
                    <span>
                        {{namepattern}}      
                    </span>    
                </div>
            </div>
            <div :class="{'pl-0 justify-content-start': affiliatesRight.length == 2, 'justify-content-end': affiliatesRight.length > 2, 'ml-4': twomoreR == 'line' && affiliatesRight.length > 3}" class="tf-tree tf-custom tf-ancestor-tree tree d-flex align-items-center" id="tr">
                <ul id="treer" class="ml-3" :class="{'morr': (affiliatesRight.length > 2 && twomoreR == false) || twomoreR == 'other', 'morrL': twomoreR == true, 'morrLL': twomoreR == 'line' && affiliatesRight.length >= 3, 'ml-5': twomoreR == 'line'}">
                    <li id="treeright"></li>
                </ul>
            </div>     
        </div> 
        <div class="position-fixed zoom-btn d-block" style="bottom:40px;right:40px;">
            <el-button-group>
                <el-button type="" @click="zooom('+')" icon="el-icon-zoom-in"></el-button>
                <el-button type="" @click="zooom('-')" :disabled="zoom <= .2" icon="el-icon-zoom-out"></el-button>
                <el-button type="" @click="reload" icon="el-icon-refresh"></el-button>
            </el-button-group>
        </div>
    </div>
</template>
<style>

/* #canva
{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* #right {
    height: 100vh;
    
    border: 2px solid red;
}
#left {
    height: 100vh;
    
    overflow-y: none;
    border: 2px solid black;
} */
/* .tree {
  height: 100vh;  
} */
#side-navv {
    margin-right: 0 1em;
},
.morr
{
    position:relative;left: -45px;
}
.morrL
{
    position:relative;right: 95px;
}
.morrLL
{
    position: relative;
    right: -24px;
}

.morrr
{
    position:relative;right: -73px;
}
.morrrT
{
    position:relative;right: -50px;
}
.morrrTT {
    position: relative;
    right: 70px;
}

.orb
{
    width: 200px;
    height: 200px;
    z-index: -1;
    position: absolute;
    border: solid 2px #fff;
    border-radius: 50%;
}
.sun {
    width:100px;
    height:100px;
    background:#f1f110;
    border-radius: 50%;
    margin-left: 0rem!important; 
    text-align: center; 
    vertical-align: middle;
    align-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px 6px #cece1b;
    transition: .3s all ease;
    justify-content: center;
}
.sun:hover{
    box-shadow: 0px 0px 16px 0px #dfdf19, 0px 0px 20px 13px #adad10;
    /* font-size: 12px; */
    color: #000;
}
#treel {
    /* height: 100vh; */
     height: auto;
     /* width: auto;   */
}
#treer {
    /* height: 100vh; */
     height: auto;  
     /* width: auto; */
}
 .tf-custom .tf-nc {
    height: 3em; width: 3em;
    background-color: #fff;
    border-color: #fff;
    padding: 0;
    cursor: pointer;
    color: #fff;
    transition: .2s all cubic-bezier(0.65, 0.05, 0.36, 1);
    border-radius: 50%;
  }
  /* make the horizontal and vertical connectors thick and change their color */
  .particles-js-canvas-el
  {
    width: 100%;
    height: 100vh;
    position: fixed;
    transform: translateY(0%);
    z-index: -1;
    top: 0;
    left:0;
  }
  .tf-custom .tf-nc:before,
  .tf-custom .tf-nc:after {
    border-left-color: #fff;
    border-left-width: 2px;
  }

  .tf-custom li li:before {
    border-top-color: #fff;
    border-top-width: 2px;
  }
  .tf-ancestor-tree { position: relative; }
  .tf-ancestor-tree > #treel { 
    transform: rotate(90deg);-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg); 
    }
  .tf-ancestor-tree > #treer { 
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
     -o-transform: rotate(270deg); }
  .tf-ancestor-tree li ul { margin-bottom: 1em; }
  
  .node_left {
    display: inline-block;
    transform: rotate(270deg);
    display: inline-block;
    transform: rotate(270deg);
    position: absolute;
    left: 55px;
    font-size: 10px;
    text-align: center;
    top: 0;
    font-weight: 500;
    bottom: 0;
    margin: 0 auto;
  }
  .child_left {
    display: inline-block;
    transform: rotate(270deg);
    position: absolute;
    left: 48px;
    font-size: 10px;
    top: 0;
    width: 100%;
    text-align: center;
    font-weight: 500;
    bottom: 0;
    margin: 0 auto;
  }
  .tf-tree li 
  {
    padding: 0 1.5em;
  }
  .node_right {
    display: inline-block;
    transform: rotate(90deg);
    position: absolute;
    text-align: center;
    right: 62px;
    font-size: 10px;
    top: 0;
    font-weight: 500;
    bottom: 0;
    margin: 0 auto;
  }
  .child_right {
    display: inline-block;
    transform: rotate(90deg);
    position: absolute;    
    right: 47px;
    width: 100%;
    text-align: center;
    font-size: 10px;
    top: 0;
    font-weight: 500;
    bottom: 0;
    margin: 0 auto;
  }

  .tf-tree li li:before
  {
    z-index: -1;
  }

  #treeleft span.tf-nc:hover > span, #treeright span.tf-nc:hover > span
  {
    left: 22px;
    font-size: 12px;
    z-index: 100;
    position: relative;
    top: 20%;
    box-shadow: 0px 0px 8px 3px #ffffff52;
    background: #fff;
    border-radius: 3px;
    color: #000;
    border: solid 1px #fff;
    width: 100px;    
  }
  /* .tf-tree li ul 
  {
    margin: 3em 0;
  } */
  .tf-nc:hover
  {
    box-shadow: 0px 0px 17px 0px #ffffffb3;
  }

  #treeright span.tf-nc:hover > span
  {
    right: 75px;
    left: initial;
  }
</style>

<script>
import { setTimeout } from 'timers';
// import { promises } from 'fs';
import { Promise } from 'q';
// let {draggable} = require('jquery-ui');
export default {
    data() {
        return {
            orbs: 0,
            lvl: 0,
            zoom: 1,
            mm: 0,
            patternleft: null,
            patternright:null,            
            affiliatesLeft: [],
            affiliatesRight:[],
            fat: '',
            fatl: '',
            namepattern: '',
            twomoreL: false,
            twomoreR: false,
            resize: false
        }
    },
    mounted(){
        
       this.sessdata()
        setTimeout(() => 
        {
            this.move()   
        }, 800);
    //     // setTimeout(() => 
    //     // {
    //     //     this.orbb()    
    //     // }, 1000);
        setTimeout(() => {
            this.joinPos()
            if(this.twomoreR == 'line' && this.twomoreL == 'line')
            {                
                setTimeout(() => 
                {
                    $('.zoom-zone #sunshine .sun').attr('style','margin-left:'+0+'rem !important;margin-right:'+0+'rem !important;')
                }, 100);
            }
            if(this.twomoreR == 'line' && this.twomoreL != 'line')
            {
                setTimeout(() => 
                {
                    $('.zoom-zone #sunshine .sun').attr('style','margin-right:'+0+'rem !important;margin-left:'+0.4+'rem !important;')
                }, 100);   
            }
            if(this.twomoreL == 'line' && this.twomoreR != 'line')
            {
                setTimeout(() => 
                {
                    $('.zoom-zone #sunshine .sun').attr('style','margin-right:'+0.4+'rem !important;margin-left:'+0+'rem !important;')
                }, 100);   
            }
        }, 900);
    },
    methods: {
        sessdata() {
            axios.post('auth/sessdata',{fields: ['sons','name']}).then((resp)=>{
            let res = this.$myCryptor.decode(resp.data.data);
            let fname = res[1].first.split(' ')
            let lname = res[1].last.split(' ')
            this.fat = res[0].right
            this.fatl = res[0].left
            this.namepattern = fname[0]+" "+lname[0]
            this.styleParticles()
            this.listPerson()
        })
        },
        styleParticles() {
            $('body').css(
            {
            'background-image': "url('../img/back/back (1).jpg')",
            'background-attachment': 'fixed',
            'background-size': 'cover',
            'background-position': 'top'
            })
            $('body .main-app > div').removeClass('white-bg').css(
            {
            background: 'transparent'  
            })
            $('.zoom-btn').removeClass('d-none')
            $('.particles-js-canvas-el').removeClass('d-none')
            particlesJS.load('main-appp','../js/particless.cfg.json');
        },
        // METODO PARA VALIDAR LAS POSIBLES Y PRIMERAS PERMUTACIONES EN LAS POSICIONES
        joinPos(){
            let llaux = 0, lraux = 0
            if( this.affiliatesLeft && this.affiliatesLeft.length > 0)
                llaux = this.affiliatesLeft.length - 1
            if(this.affiliatesRight && this.affiliatesRight.length > 0)
                lraux = this.affiliatesRight.length - 1
            if(this.affiliatesLeft.length == 0){
                this.orbs = this.affiliatesRight[lraux].level+1 
            }
            else {
                if(this.affiliatesRight.length == 0) {
                    this.orbs = this.affiliatesLeft[llaux].level+1
                }
                else {
                    if(this.affiliatesLeft[llaux].level > this.affiliatesRight[lraux].level)
                        this.orbs = this.affiliatesLeft[llaux].level+1
                    else    
                        this.orbs = this.affiliatesRight[lraux].level+1 
                }
            }            
                
            let ll = 0            
            let ll2 = 0
            let llL = 0
            /////////////////
            let rr = 0
            let rr2 = 0
            let rrL = 0
            if(this.affiliatesLeft.length > 0) {
                for(const key in this.affiliatesLeft) 
                {
                    if(this.affiliatesLeft[key].level >= 2)
                    {
                        ll++
                    }
                    if(this.affiliatesLeft[key].level == 1)
                    {
                        ll2++                    
                    }         
                    if(this.affiliatesLeft[key].level-1 == key)
                    {
                        llL++                                        
                    }       
                    if(llL == this.affiliatesLeft.length)
                    {
                        this.twomoreL = 'line'
                    } else{
                        if(ll > 1 && ll2 >= 2)
                        {
                            this.twomoreL = true
                        } else{
                            if(ll2 >= 2 && ll <= 1)
                            {
                                this.twomoreL = 'other'
                            } else{
                                this.twomoreL = null
                            }                    
                        }
                    }                
                }
            }
            if(this.affiliatesRight.length > 0) {
                for(const key in this.affiliatesRight) 
                {                
                    if(this.affiliatesRight[key].level >= 2)
                    {
                        rr++                    
                    }
                    if(this.affiliatesRight[key].level == 1)
                    {
                        rr2++                    
                    }
                    if(this.affiliatesRight[key].level-1 == key)
                    {
                        rrL++                                        
                    }                  
                    if(rrL == this.affiliatesRight.length)
                    {
                        this.twomoreR = 'line'
                    } else{
                        if(rr > 1 & rr2 >= 2)
                        {
                            this.twomoreR = true
                        } else{
                            if(rr2 >= 2 && rr <= 1)
                            {
                                this.twomoreR = 'other'
                            } else{
                                this.twomoreR = null
                            }                    
                        }
                    }
                }
            }
            $('.zone').draggable({revert: false,scroll: true, scrollSensitivity: 100, scrollSpeed: 100, cursor:"move", iframeFix: true})
        },
        zooom(val)
        {
            if(val == '+')
            {
                this.zoom+=.1
                if(this.zoom > 1)
                    this.mm+=50
                    
                $('.zoom-zone').css(
                {
                    'margin-top': this.mm+'px',
                    'padding-left': this.mm+'px',
                    transform: 'scale('+this.zoom+')'
                })
            }
            if(val == '-' && this.zoom > 0)
            {
                this.mm-=50
                if(this.mm <= 0)
                    this.mm = 0
                    
                this.zoom-=.1
                $('.zoom-zone').css(
                {
                    'margin-top': this.mm+'px',
                    'padding-left': this.mm+'px',
                    transform: 'scale('+this.zoom+')'
                })
            }
        },
        reload() {
            this.$router.go('/constellation');
            // location.reload()
        },
        orbb()
        {            
            let wh = 210
            let a = 0;
            $('.orb').each(function(index)
            {
                $(this).css(
                {
                    'animation-delay': ((index/10)+0.2)+'s'
                })
                if(index > 0)
                {
                    a = (wh+=150)
                    $(this).css(
                    {
                        width: (a)+'px',
                        height: (a)+'px'
                    })
                }
            })
        },
        move(){
            let ml = 10;
            let mls = 0;
            let mlr = 0;
            var mlsr = 0;
            let mt = 0
            let mb = 0
            let lvll = 3
            let lr = 0
            
            if(this.affiliatesLeft.length > 0) {
                for (const key in this.affiliatesLeft) {
                 
                 if(this.affiliatesLeft[key].level == 2)
                 {
                    if(this.affiliatesLeft[key].sons.left != null && this.affiliatesLeft[key].sons.right != null)
                    {
                        mls = 2
                    } else{
                        mls = 1.5
                    }
                 }
                if(this.affiliatesLeft[key].level == 3)
                {
                    mt += 0.05
                    mls = 4
                }
                if(this.affiliatesLeft[key].level >= 3)
                {
                    if(this.affiliatesLeft[key].sons.left != null && this.affiliatesLeft[key].sons.right != null)
                        {
                            mlsr += 0.1
                            mt += 0.2
                        }else{
                            mlsr += 0.07
                        }
                }
                if(this.affiliatesLeft[key].level >= 5)
                {       
                        ml+=10
                        mt += 0.1
                }
                if(this.affiliatesLeft[key].level == 6)
                        {mls = 5}
                }
            }
            if(this.affiliatesRight.length > 0)
            {
                for (const key in this.affiliatesRight) 
                {
                    if(this.affiliatesRight[key].level == 3)
                    {
                        mt += 0.05
                        mlsr = 2
                        if(this.twomoreR == 'line')
                        {
                            mlsr = 1
                        }
                    }
                    if(this.affiliatesRight[key].level >= 3)
                    {
                        if(this.affiliatesRight[key].sons.left != null && this.affiliatesRight[key].sons.right != null)
                        {
                            mlsr += 0.7
                            mt += 0.2
                        }else{
                            mlsr += 0.5
                        }
                    }
                    if(this.affiliatesRight[key].level >= 4)
                    {
                        if(this.affiliatesRight[key].sons.left != null && this.affiliatesRight[key].sons.right != null)
                        {
                            mlsr += 0.1
                        }else{
                            mlsr += 0.07
                        }
                    }
                    if (this.affiliatesRight[key].level >= 7) {
                        mlr += 5
                        mlsr = 2
                        mt += 0.1                        
                    }
                }
            }else{
               if(mls == 2)
               {mls = 4}
               if(ml == 10)
                {ml = 0}
            }
            $('.zoom-zone #tl').attr('style','margin-left:'+(ml+mlr)+'em !important;')
            $('.zoom-zone #tr').attr('style','margin-right:'+ml/2+'em !important;')
            $('.zoom-zone #sunshine .sun').attr('style','margin-left:'+mls+'rem !important;margin-right:'+mlsr+'rem !important;')
            $('.zoom-zone #sunshine').attr('style','margin-left:'+mls+'rem !important;margin-right:'+mlsr+'rem !important;')
            $('.zoom-zone').attr('style','padding-top:'+mt+'em !important;padding-bottom:'+(mt/2)+'em !important;z-index:1;height:80vh;')
            // this.joinPos()
        },        
        //Método para obtener la estructura de datos del arbol binario a partir de la ObjID del los primeros hijo (L,R)
        listPerson() {
            axios.post('/auth/getAllTree',{id: this.fatl, side: "left"}).then((resp) =>{
                let idl = this.fatl //SE OBTIENE DE LA SESSDATA
                for (let index in resp.data.data) {
                    this.affiliatesLeft.push(resp.data.data[index])
                }
                this.patternleft = this.affiliatesLeft[0]
                this.affiliatesLeft.splice(0,1)
                if(this.affiliatesLeft.length <= 0 && this.patternleft == null){}
                else
                    this.drawTreeLeft()
                this.listright()
            })
        },
        listright() {
            axios.post('/auth/getAllTree',{id: this.fat,side:"right"}).then((resp) =>{
                let idr = this.fat
                for (let key in resp.data.data) {
                    this.affiliatesRight.push(resp.data.data[key])
                }
                this.patternright = this.affiliatesRight[0]
                this.affiliatesRight.splice(0,1)
                if(this.affiliatesRight.length <= 0 && this.patternright == null){}
                else
                    this.drawTreeRight()
            })
        },
        //MÉTODO PARA DIBUJAR EL PUNTO DE PARTIDA DE LA IZQUIERDA(PRIMER HIJO DEL CENTRO)
        drawfirtsleft() {
            // console.log("idll:",this.patternleft._id)
            let id = this.$myCryptor.encode(this.patternleft._id)
            let name = this. patternleft.name.first
            let level = this.patternleft.level+1
            let codaffl = this.patternleft.sons.left
            let codaffr = this.patternleft.sons.right
            if(codaffl == null && codaffr == null)
                    { 
                    $('#treeleft').append('<span class="focus-in-contract-bck tf-nc"><span class="node_left">'+name+' <br> <strong>Lvl:</strong> '+level+'</span></span>');
                    }else{
                         $('#treeleft').append('<span class="focus-in-contract-bck tf-nc"><span class="node_left">'+name+' <br> <strong>Lvl:</strong> '+level+'</span></span><ul id="'+id+'"></ul>');
                    }
        },
        //MÉTODO PARA DIBUJAR EL PUNTO DE PARTIDA DE LA DERECHA(PRIMER HIJO DEL CENTRO)
        drawfirtsright() {
            let id = this.$myCryptor.encode(this.patternright._id)
            let name = this.patternright.name.first
            let level = this.patternright.level+1
            let codaffl = this.patternright.sons.left
            let codaffr = this.patternright.sons.right
            if(codaffl == null && codaffr == null)
                    { 
                    $('#treeright').append('<span class="tf-nc focus-in-contract-bck"><span class="node_right">'+name+' <br> <strong>Lvl:</strong> '+level+'</span></span>');
                    }else{
                         $('#treeright').append('<span class="tf-nc focus-in-contract-bck"><span class="node_right">'+name+' <br> <strong>Lvl:</strong> '+level+'</span></span><ul id="'+id+'"></ul>');
                    }
        },
        //MÉTODO PARA DIBUJAR EL ARBOL DEL LADO IZQUIERDO
        drawTreeLeft() {
            this.drawfirtsleft()
            for (let index = 0; index < this.affiliatesLeft.length; index++) {
                // let id = this.affiliatesLeft[index].id
                let id = this.$myCryptor.encode(this.affiliatesLeft[index]._id)
                // let pattern = this.affiliatesLeft[index].pattern.idp;
                let pattern = this.$myCryptor.encode(this.affiliatesLeft[index].pattern);
                let name = this. affiliatesLeft[index].name.first
                let level = this.affiliatesLeft[index].level+1
                let codaffl = this.affiliatesLeft[index].sons.left
                let codaffr = this.affiliatesLeft[index].sons.right
                  
                if(codaffl == null && codaffr == null)
                    { 
                       $('#treeleft #'+pattern+'').append('<li><span class="tf-nc focus-in-contract-bck"><span class="child_left">'+name+' <br> <strong>Lvl:</strong> '+level+'</span></span></li>');
                    }else{
                         $('#treeleft #'+pattern+'').append('<li><span class="tf-nc focus-in-contract-bck"><span class="child_left">'+name+' <br> <strong>Lvl:</strong> '+level+'</span></span><ul id="'+id+'"></ul></li>');
                    }      
            }
        },
        //MÉTODO PARA DIBUJAR EL ARBOL DE LA PARTE DERECHA
        drawTreeRight() {
            this.drawfirtsright()
            for (let index = 0; index < this.affiliatesRight.length; index++) {
                // let id = this.affiliatesLeft[index].id
                let id = this.$myCryptor.encode(this.affiliatesRight[index]._id)
                // let pattern = this.affiliatesLeft[index].pattern.idp;
                let pattern = this.$myCryptor.encode(this.affiliatesRight[index].pattern);
                let name = this. affiliatesRight[index].name.first
                let level = this.affiliatesRight[index].level+1
                let codaffl = this.affiliatesRight[index].sons.left
                let codaffr = this.affiliatesRight[index].sons.right
                 
                if(codaffl == null && codaffr == null)
                { 
                    $('#treeright #'+pattern+'').append('<li><span class="tf-nc focus-in-contract-bck"><span class="child_right">'+name+' <br> <strong>Lvl:</strong> '+level+'</span></span></li>');
                }else{
                    $('#treeright #'+pattern+'').append('<li><span class="tf-nc focus-in-contract-bck"><span class="child_right">'+name+' <br> <strong>Lvl:</strong> '+level+'</span></span><ul id="'+id+'"></ul></li>');
                }      
            }
        }       
    }

}
</script>
