<template>
<div class="cont">
    <navbar-component></navbar-component>
    <div class="container"  style="top: 82px !important; position:relative !important">
        <h4 class="text-center poppins text-dark font-weight-bold text-uppercase">Historial de pagos</h4> 
        <hr class="bg-dark-blue">
        <div class="text-center w-100 mb-2 align-items-center d-flex align-items-center justify-content-center">
            <el-date-picker
                class="mx-2"
                v-model="rangee"
                type="daterange"
                align="right"
                unlink-panels
                range-separator="-"
                start-placeholder="Desde"
                end-placeholder="Hasta"
                :picker-options="pickerOptions"
                :default-time="['00:00:00', '23:59:59']"
                >
            </el-date-picker>
            <el-tooltip class="item" effect="dark" content="Exportar las que estan pagadas" placement="top">
                <el-button type="primary" size="medium" @click="rangeF()">Buscar <i class="el-icon-search"></i></el-button>
            </el-tooltip>
        </div>
        <div class="row">    
            <div class="col-lg-12 col-sm-12">         
            <el-input placeholder="" class="mb-2 poppins input-s" v-model="filters[0].value">  
                <template slot="prepend">Buscar</template>
            </el-input>
            </div>
        </div>
        <data-tables v-loading.body="loading" :table-props="tableProps" :data="history" :filters="filters">
            
             <el-table-column type="expand" width="30">
            <template slot-scope="props">
                <el-card>
                <p class="poppins-bold">Información Bancaria</p>
                <el-divider></el-divider>
                <p class="poppins">N° de cuenta:&nbsp;<span class="poppins-light">{{ props.row.account }}</span></p>
                <p class="poppins">Banco:&nbsp;<span class="poppins-light">{{ props.row.bank }}</span></p>
                </el-card>
            </template>
            </el-table-column>
            <el-table-column prop="dniType" label="Tipo ID" width="70" header-align="center" align="center">
            </el-table-column>
            <el-table-column prop="dni" label="ID" width="130" sortable="custom" header-align="center" align="center">
            </el-table-column>
            <el-table-column prop="name" label="Usuario" width="270"  header-align="center" align="center">
                <template slot-scope="scope">
                      {{scope.row.name+" "+scope.row.lastname }}  
                </template>
            </el-table-column>
            <el-table-column prop="amount" width="150" label="MONTO" sortable="custom" header-align="center" align="center">
                <template slot-scope="scope">
                      {{scope.row.amount.toLocaleString('de-DE') }}  
                </template>
            </el-table-column> 
            <el-table-column prop="deductions" width="110" label="DEDUCCIONES"  header-align="center" align="center">
                <template slot-scope="scope">
                      {{scope.row.deductions.toLocaleString('de-DE') }}  
                </template>
            </el-table-column> 
             <el-table-column prop="neto" width="150" label="NETO" sortable="custom" header-align="center" align="center">
                 <template slot-scope="scope">
                      {{scope.row.neto.toLocaleString('de-DE') }}  
                </template>
            </el-table-column> 
            <el-table-column prop="status" width="100" label="ESTADO" sortable="custom" header-align="center" align="center">
            </el-table-column> 
            <el-table-column prop="date" width="100" label="FECHA" sortable="custom" header-align="center" align="center">
            
            </el-table-column> 
        </data-tables>
    </div><!---end-container-->
    </div>
</template>

<script>
import { fileURLToPath } from 'url';
export default {
    data(){
        return{
            rangee: '',
            pickerOptions: {            
            shortcuts: [{
                text: 'Ultima semana',
                onClick(picker) {
                const end = new Date();
                const start = new Date();
                start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                picker.$emit('pick', [start, end]);
                }
            }, {
                text: 'Ultimo mes',
                onClick(picker) {
                const end = new Date();
                const start = new Date();
                start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                picker.$emit('pick', [start, end]);
                }
            }, {
                text: 'Ultimos 3 meses',
                onClick(picker) {
                const end = new Date();
                const start = new Date();
                start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                picker.$emit('pick', [start, end]);
                }
            }]
            },
            history : [],
            bkshow: false,
             tableProps: 
            {
                border: false,
                stripe: true,
                defaultSort: {                
                order: 'descending'
                }
            },
            loading:false,
            filters:[{
                filterFn: (row, filter) => {
                    return Object.keys(row).some(prop => {
                        if (prop === 'dniType') {
                            let m = filter.value.toLowerCase()                
                            let val = this.quitaacentos(filter.value)
                            let r = this.quitaacentos(row.dniType.toLowerCase())
                            return r.toLowerCase().indexOf(val) > -1
                        }
                        else if(prop === 'dni') {
                            let convert = row.dni.toString()
                            return convert.indexOf(filter.value) > -1
                            // console.log(row.dni)
                        }
                        else if(prop === 'name') {
                            let m = filter.value.toLowerCase()                
                            let val = this.quitaacentos(filter.value)
                            let r = this.quitaacentos(row.name.toLowerCase())
                            return r.toLowerCase().indexOf(val) > -1
                        }
                        else if(prop === 'amount') {
                                let convert = row.amount.toString()
                            return convert.indexOf(filter.value) > -1
                        }
                        else if(prop === 'neto') {
                                let convert = row.neto.toString()
                            return convert.indexOf(filter.value) > -1
                        }
                            else if(prop === 'deductions') {
                                let convert = row.deductions.toString()
                            return convert.indexOf(filter.value) > -1
                        }
                        else if(prop === 'status') {
                                let m = filter.value.toLowerCase()                
                            let val = this.quitaacentos(filter.value)
                            let r = this.quitaacentos(row.status.toLowerCase())
                            return r.toLowerCase().indexOf(val) > -1
                        }   
                    })
                    
                }
            }]
        }
    },
    mounted(){
        this.gethistory()
    },

    methods:{
         quitaacentos(s) {
            var r=s.toLowerCase();
            r = r.replace(new RegExp(/\s/g),"");
            r = r.replace(new RegExp(/[àáâãäå]/g),"a");
            r = r.replace(new RegExp(/[èéêë]/g),"e");
            r = r.replace(new RegExp(/[ìíîï]/g),"i");
            r = r.replace(new RegExp(/ñ/g),"n");                
            r = r.replace(new RegExp(/[òóôõö]/g),"o");
            r = r.replace(new RegExp(/[ùúûü]/g),"u");                                
            return r;
        },
        rangeF()
        {            
            if(this.rangee == null || this.rangee == '')
            {
                this.$swal.fire(
                {
                    text: 'Los campos no pueden estar vacios',
                    type: 'info',
                    title: 'Info'
                })
            } else {
                location.href = '/export/excel/'+this.rangee[0]+'/'+this.rangee[1]
            }
        },
        gethistory(){
            axios.post('/pays/show').then((res)=>{  
                let data = this.$myCryptor.decode(res.data.data)
                // console.log(data)              
                if(res.data.status == 'success')
                {
                    let data_ = {
                        dni:'',
                        dniType:'',
                        name:'',
                        lastname:'',
                        amount:'',
                        tax:'',
                        deductions:'',
                        neto:'',
                        status:'',
                        date:null
                    }
                    // if(res.data.data.length > 0)
                    // {
                    //     console.log(res.data)
                    //     this.history = res.data.data
                    // } else{
                    //     alert('no hay nada')
                    // }
                    for (let key = 0; key < data.length; key++) {
                     axios.post('/auth/info', {id:data[key].person}).then((resp)=>{
                         if(resp.data.status == "success"){
                            let dat = this.$myCryptor.decode(resp.data.data)
                            // console.log("d",dat)
                            data_.dni = dat.dni.dni
                            data_.dniType = dat.dni.dniType
                            data_.name = dat.name.first
                            data_.lastname = dat.name.last
                            if(dat.bankAccount.account)
                                data_.account = '*************'+(dat.bankAccount.account.substring(dat.bankAccount.account.lenght - 4))
                            else
                                data_.account = 'No registra'
                            if(dat.bankAccount.bank)    
                                data_.bank = dat.bankAccount.bank
                            else
                                data_.bank = 'No registra'    
                         }
                     }).then(() => {
                            data_.amount = data[key].amount
                            data_.tax = data[key].tax
                            data_.deductions = data[key].deductions
                            data_.neto = data[key].neto
                            if(data[key].created_at)
                                data_.date = data[key].created_at.split('T')[0]
                            else
                                data_.date = 'err-err-err'
                            
                            switch (data[key].status) {
                                case 'expired':
                                   data_.status = 'EXPIRADO' 
                                    break;
                                case 'payout':
                                   data_.status = 'PAGADO' 
                                    break;    
                                default:
                                    break;
                            }
                            // data_.status= data[key].status
                            // console.log(data_)
                            this.history.push(data_)

                            data_ = {
                            dni:'',
                            dniType:'',
                            name:'',
                            lastname:'',
                            amount:'',
                            tax:'',
                            deductions:'',
                            neto:'',
                            status:'',
                            date:null,
                            account:'',
                            bank:''
                        }
                     })      
                    }
                    // console.log(this.history)      
                }             
            })
        }
    }
    
}
</script>
