<template>
    <div class="container my-1 p-0" > 
           <el-card shadow="hover" class="box-card mb-3" v-if="showUp">
           <div slot="header" class="clearfix text-center">
                        <span class="poppins-bold text-secondary">Actualizar información básica</span>
                        <span class="float-right"><el-button plain type="info" icon="el-icon-close" size="small" @click="showUp = !showUp"></el-button></span>                        
                    </div>
            <form action="" class="form-row"  name="form-register">
                <div class="col-12 mb-1 col-lg-12 px-1 col-md-12">
                    <p class="poppins title">Información básica</p>
                </div>
                <div  id="name"    class="col-12 mb-2 col-lg-3 col-md-6 px-1">
                    <label for="" >Primer Nombre <i class="mx-1 text-danger fa fa-asterisk p-0 mb-0" style="font-size:10px"></i> <span class="text-danger">(3)</span></label>
                    <input type="text" class="form-control" id="first-name" name="name-01" v-model="firstname">
                </div>
                <div class="col-12 mb-2 col-lg-3 px-1 col-md-6 " id="cont-second-name">
                <label for="" >Segundo Nombre (4)</label>
                <input type="text" class="form-control" id="second-name" name="name-02" v-model="secondname">
                </div>

                <div class="col-12 mb-2 col-lg-3 px-1 col-md-6" id="cont-last-name">
                    <label   for="">Primer Apellido <i class="mx-1 text-danger fa fa-asterisk p-0 mb-0" style="font-size:10px"></i> <span class="text-danger">(5)</span></label>
                    <input type="text" class="form-control" name="surname-01" v-model="lastfname">
                </div>

                <div class="col-12 mb-2 col-lg-3 px-1 col-md-6" id="second-surname">
                    <label   for="">Segundo Apellido <i class="mx-1 text-danger fa fa-asterisk p-0 mb-0" style="font-size:10px"></i> <span class="text-danger">(6)</span></label>
                    <input type="text" class="form-control" name="surname-02" v-model="lastlname">
                </div>

            <div class="col-lg-4 mb-2 col-sm-12 col-md-6" id="cont-dni">
                <label for="">Sexo <i class="mx-1 text-danger fa fa-asterisk p-0 mb-0" style="font-size:10px"></i> <span class="text-danger">(7)</span></label>
                <el-select  class="col-lg-12 pl-0 mx-0 px-0"  v-model="dataForm.gender" clearable placeholder="Seleccione una opción">
                        <el-option
                        v-for="sexo in sex" :key="sexo.value" :label="sexo.label" :value="sexo.value">
                        </el-option>
                    </el-select>
            </div> 

            <div class="col-lg-4 mb-2 col-sm-12 col-md-6" id="cont-dni">
                <label  for="">Tipo de identificación <i class="mx-1 text-danger fa fa-asterisk p-0 mb-0" style="font-size:10px"></i> <span class="text-danger">(8)</span></label>
                <el-select class="col-lg-12 pl-0 mx-0 px-0" v-model="dataForm.dni.dniType" clearable placeholder="Seleccione una opción">
                <el-option
                v-for="item in dni" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
            </el-select>
            </div>

            <div class="col-lg-4 mb-2  col-sm-12 px-2 col-md-6">
                <label for="">N° De Identificación <i class="mx-1 text-danger fa fa-asterisk p-0 mb-0" style="font-size:10px"></i> <span class="text-danger">(9)</span></label>  
                        <!-- <input type="number" v-if="dataForm.dni.dniType != 'P.P' && dataForm.dni.dniType != 'NIT'" min="1" @change="uniquePerson" :class="{'is-invalid border-danger': response.uniquePerson.status, 'is-valid': response.uniquePerson.status == false}" required name="document" class="form-control" v-model="dataForm.dni.dni"> -->
                        <input type="text" @change="uniquePerson" :class="{'is-invalid border-danger': response.uniquePerson.status, 'is-valid': response.uniquePerson.status == false}" required name="document" class="form-control" v-model="dataForm.dni.dni">
                        <div class="poppins" :class="{'invalid-feedback': response.uniquePerson.status, 'valid-feedback': !response.uniquePerson.status}">
                                    {{ response.uniquePerson.text }}
                        </div>
                    
            </div>
            <div class="col-12 mb-2 col-lg-12 px-1 col-md-12">
                <hr>
            </div>
            <div class="col-12 mb-1 col-lg-12 px-1 col-md-12">
                    <p class="poppins title">Información de contacto</p>
                </div>
            <div class="col-12 mb-2 col-lg-3 px-1 col-md-6" id="phone">
                    <label for="">Teléfono <i class="mx-1 text-danger fa fa-asterisk p-0 mb-0" style="font-size:10px"></i> <span class="text-danger">(10)</span></label>
                    <input type="text" class="form-control" name="phone" :class="{'is-invalid border-danger': response.validation_phone.status, 'is-valid': response.validation_phone.status == false}" v-model="dataForm.phone" @change="valPhone">
                    <div class="poppins" :class="{'invalid-feedback': response.validation_phone.status, 'valid-feedback': !response.validation_phone.status}">
                                    {{ response.validation_phone.text }}
                        </div>
            </div>

                <div class="col-lg-3 mb-2 col-sm-12 col-md-6">
                                    <label for="dep">Departamento: <i class="mx-1 text-danger fa fa-asterisk p-0 mb-0" style="font-size:10px"></i> <span class="text-danger">(11)</span></label>                        
                                        <el-select v-model="location.dep" class="col-lg-12 pl-0 mx-0 px-0" placeholder="Selecione una opción" name="departamento">
                                            <el-option v-for="(loc,index) in dept" :key="index" :label="loc.departamento" :value="loc.departamento+'/'+index"></el-option>
                                        </el-select>
                                        
                                </div>

                                <div class="form-group col-lg-3 px-2 col-md-6">
                                    <label for="town1">Ciudad: <i class="mx-1 text-danger fa fa-asterisk p-0 mb-0" style="font-size:10px"></i> <span class="text-danger">(12)</span></label>
                                
                                    <el-select  v-model="dataForm.address.city" class="col-lg-12 pl-0 mx-0 px-0" placeholder="Selecione una opción" name="ciudad" :disabled="location.dep == null">
                                            <el-option v-for="(town,index) in cit" :key="index" :label="town" :value="town"></el-option>
                                        </el-select>
                                </div>

            <div class="col-12 mb-2 col-lg-3 px-1 col-md-6" id="address">
                            <label for="">Dirección <i class="mx-1 text-danger fa fa-asterisk p-0 mb-0" style="font-size:10px"></i> <span class="text-danger">(13)</span></label>
                            <input type="text" class="form-control" name="address-01" v-model="dataForm.address.addInfo">
                        </div>

            <div class="col-lg-3 mb-2 col-sm-12 col-md-12">
                        <label for="">Correo <i class="mx-1 text-danger fa fa-asterisk p-0 mb-0" style="font-size:10px"></i> <span class="text-danger">(14)</span></label>
                    <input @change="valEmail" type="email" :class="{'is-invalid border-danger': response.validationMail.status, 'is-valid': response.validationMail.status == false}" required name="email" class="form-control" v-model="dataForm.mail" >
                            <div class="poppins" :class="{'invalid-feedback': response.validationMail.status, 'valid-feedback': !response.validationMail.status}">
                                {{ response.validationMail.text }}
                            </div>     
            </div>
            
            <div class="col-lg-3 mb-2 col-sm-12 col-md-6" id="cont-dni">
                <label for="">Tipo de Usuario <i class="mx-1 text-danger fa fa-asterisk p-0 mb-0" style="font-size:10px"></i> <span class="text-danger">(15)</span></label>
                <el-select class="w-100" v-model="dataForm.accessData.userType" clearable placeholder="Seleccione una opción">
                        <el-option v-for="usuario in user" :key="usuario.value" :label="usuario.label" :value="usuario.value">
                        </el-option>
                    </el-select>
            </div>
                        
                <div class="col-lg-12 item-center text-center">            
                    <el-button type="primary" :loading="response.charginButton" effect="dark" class="poppins" @click.prevent="valInfoBasic">Actualizar</el-button>
                    <el-button type="danger" effect="dark" class="poppins" @click.prevent="showUp = !showUp">Cancelar</el-button>            
                </div>    
            </form>
           
    <!---------------------------------------------- UPDATE INFO BANK-------------------------------------------------------------------------------------------------->
     </el-card>
        <el-card shadow="hover" class="box-card mb-3" v-if="showUpIB">
                    <div slot="header" class="clearfix text-center">
                        <span class="poppins-bold text-secondary">Actualizar información bancaria </span>
                        <span class="poppins-light text-secondary">{{"("+bankAccount.name+")"}} </span>                         
                        <span class="float-right"><el-button plain type="info" icon="el-icon-close" size="small" @click="showUpIB = !showUpIB"></el-button></span>
                    </div>
                    <el-alert
                        title="información bancaria no completada"
                        description="Esto se debe a que esta información nunca fue diligenciada"
                        type="info"
                        show-icon v-if="bankAccount.data.bank == null || bankAccount.data.account == null">
                    </el-alert>
                    <form class="form-row mt-1">
                        <div class="form-group col-lg-12 mb-2 px-1">
                            <label for="name" class="poppins mb-0">N° de cuenta bancaria:</label>
                            <input type="text" class="form-control" name="num_bank" v-model="bankAccount.data.account">
                        </div>
                        <div class="form-group col-lg-12 mb-2 px-1">
                            <label for="name" class="poppins mb-0">Banco:</label>
                            <el-select  v-model="bankAccount.data.bank" class="col-lg-12 pl-0 mx-0 px-0" placeholder="Selecione un banco" name="bank">
                                <el-option v-for="(name,index) in bank" :key="index" :label="name" :value="name"></el-option>
                            </el-select>
                        </div>                       
                            <div class="col-lg-12 mt-2 item-center text-center">            
                            <el-button type="success" size="small" :loading="responsebank.charginButton" effect="dark" class="bg-btn poppins" @click.prevent="val_input_bank">Actualizar</el-button>              
                        </div>                                                             
                    </form>
                </el-card>      
    <!-- --------------------------------------------------------------------------------------------------------------------------------------------------------------> 
      <h4 class="text-center poppins text-dark-blue font-weight-bold text-uppercase mt-1">afiliados</h4> 
        <hr class="bg-dark-blue">
        <el-input placeholder="" class="mb-2 poppins input-s" v-model="filters[0].value">
            <template slot="prepend">Buscar</template>
        </el-input>
        <data-tables v-loading.body="loading" :table-props="tableProps" :data="afiliados" :filters="filters" class="">
            <el-table-column prop="dniType" label="Tipo ID" sortable="custom" header-align="center" align="center">
            </el-table-column>
            <el-table-column prop="dni" label="ID" sortable="custom" header-align="center" align="center">
            </el-table-column>
            <el-table-column prop="name" label="Nombres" sortable="custom" header-align="center" align="center">
                <!-- <template slot-scope="scope">
                      {{scope.row.name.namefirst+" "+scope.row.name.namelast }}  
                </template> -->
            </el-table-column>
            <el-table-column prop="lastname" label="Apellidos" sortable="custom" header-align="center" align="center">
                <!-- <template slot-scope="scope">
                      {{scope.row.lastname.lnamefirst+" "+scope.row.lastname.lnamelast }}  
                </template> -->
            </el-table-column>
            <el-table-column fixed="right" align="center" width="120" label="Acciones">
                <template slot-scope="scope">
                    <el-dropdown size="small" split-button type="primary" trigger="click">
                     Editar
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item icon="el-icon-edit"><a @click="upAffiliate(scope.$index,'pbi')">Info. Básica</a></el-dropdown-item>
                        <el-dropdown-item icon="el-icon-bank-card"><a @click="upAffiliate(scope.$index,'pbki')">Info. Bancaria</a></el-dropdown-item>
                        <el-dropdown-item icon="el-icon-key"><a @click="upAffiliate(scope.$index,'upass')">Contraseña</a></el-dropdown-item>
                        <el-dropdown-item icon="el-icon-s-custom"><a @click="upAffiliate(scope.$index,'upos')">Posición</a></el-dropdown-item>
                    </el-dropdown-menu>
                    </el-dropdown>
                </template>
            </el-table-column>
        </data-tables>            
    </div>
</template>
<script>
import { setTimeout } from 'timers';
let city = require('../Utilities/colombian-citys.json')
let dataPerson={
    name:{
        first:'',
        last:''
    },
    gender:'',
    address:{
        country:'Colombia',
        city:'',
        addInfo:''
    },
    dni:{
        dniType:'',
        dni:''
    },
    //  sonsNumber: 0,
    // side:'',
    mail:'',
    phone:'',
    // bankAccount: {
    //     account: null,
    //     bank: null
    // },
    accessData:{
        userType:'',
    }
}
export default {
    data(){
        return{
            dataForm:dataPerson,
            showUp: false,
            showUpIB:false,
            showUpPass:false,
            showUpPttn:false,
            filters: 
            [
                {
                    // prop: ['names', 'lnames', 'dni', 'typeDni', 'phone', 'rh', 'gender', 'address'],
                    // value: ''
                    filterFn: (row, filter) => {
                        return Object.keys(row).some(prop => {
                            if (prop === 'dniType') {
                               let m = filter.value.toLowerCase()                
                               let val = this.quitaacentos(filter.value)
                               let r = this.quitaacentos(row.dniType.toLowerCase())
                               return r.toLowerCase().indexOf(val) > -1
                            }
                            else if(prop === 'dni') {
                                let convert = row.dni.toString()
                                return convert.indexOf(filter.value) > -1
                                // console.log(row.dni)
                            }
                            else if(prop === 'name') {
                                let m = filter.value.toLowerCase()                
                                let val = this.quitaacentos(filter.value)
                                let r = this.quitaacentos(row.name.toLowerCase())
                                return r.toLowerCase().indexOf(val) > -1
                            }
                            else if(prop === 'lastname') {
                                let m = filter.value.toLowerCase()                
                                let val = this.quitaacentos(filter.value)
                                let r = this.quitaacentos(row.lastname.toLowerCase())
                                return r.toLowerCase().indexOf(val) > -1
                            } 
                        })
                     
                    }
                }
                 
            ],
            loading: true,
            firstname:'',
            secondname:'',
            verify: false,
            lastfname:'',
            lastlname:'',
            validPeriod: false,
            pattern_side: null,  
            response:
                {
                    charginButton: false,
                    uniquePerson: 
                    {
                        text: '',
                        status: null
                    },
                    validationMail:{
                        text:'',
                        status:null
                    },
                    validation_phone:{
                        text:'',
                        status:null
                    }
                },
                res:{
                    data: null
                },
                person:{
                    dni:{
                        dni:''
                    },
                    email:''
                },
                location:{
                    town:null,
                    dep:null
                },
                cit:[],
                dept:city,

                afiliados:[],
                perAfiliada:'',
                position:[],
                posicion:'',
                dataForm: dataPerson,
                sons: {
                    left: null,
                    right:null
                },
                dni:[{
                    value: 'C.C',
                    label:'Cédula de Ciudadania'
                },
                {
                    value:'C.E',
                    label:'Cédula de extranjería'
                },
                {
                    value:'NIT',
                    label:'NIT'
                },
                {
                    value:'PAS',
                    label:'Pasaporte'
                }
                ],
                sex:[{
                    value:'M',
                    label:'Masculino'
                },{
                    value:'F',
                    label:'Femenino'
                },{
                    value:'O',
                    label:'Otro'
                }
                ],
                user:[{
                    value:'Consumidor',
                    label:'Consumidor'
                },{
                    value:'Distribuidor',
                    label:'Distribuidor'
                },{
                    value:'Empresario',
                    label:'Empresario'
                }
                ],
            tableProps: 
            {
                border: false,
                stripe: true,
                defaultSort: {                
                order: 'descending'
                }
            },
            temp: {
                dni:'',
                mail:'',
                phone:''
            },
             bank:['Colpatria','AV villas','Caja Social','De Occidente','Popular','Bancolombia','BBVA','Davivienda','Citi Colombia','GNB Sudameris'],
            bankAccount:{
                data:{
                    account:'',
                    bank:''
                },
                id:'',
                person:''  
            },
            responsebank:{
                charginButton:false
            },
            dataPass:{
                queryParams: {_id:''},
                pass:'',
                newPass:'',
                passval:''
            },
        }      
    },
    watch:{
        'location.dep': function (newVal) { 
            if(newVal != null){
                this.cit = []
                let dep = newVal.split('/')
                // this.dataForm.address.city = ''
                var dept = dep[0]
                var cd = dep[1]
                let array_dep = this.dept[cd].ciudades
                for (let index = 0; index < array_dep.length; index++) {
                    var city = array_dep[index];
                    this.cit.push(city)  
                }
            }
        },
        // 'dataForm.pattern': function (newVal) { 
        //     if(newVal != null){
        //         this.position = []
        //         this.dataForm.side = ''
        //         this.dataForm.address.city
        //         this.dataForm.pattern=newVal
        //         for (let index = 0; index < this.afiliados.length; index++) {
        //             let personleft = this.afiliados[index].sons.left;
        //             let personright=this.afiliados[index].sons.right; 
        //             let person=this.afiliados[index]._id;
        //             if (this.dataForm.pattern==person) {
        //                 if (personleft==null) {
        //                     this.position.push({pos:'left',name:'izquierda'}) 
        //                 }if (personright==null) {
        //                     this.position.push({pos:'right',name:'derecha'}) 
        //                 }
        //                 break;
        //             }
                    
        //         }
        //     }
        // },
        // 'dataForm.dni.dniType':function (newVal){
        //     if(newVal != null)
        //     {
        //         this.dataForm.dni.dni = ''
        //         this.response.uniquePerson.text = ''
        //         this.response.uniquePerson.status = null
        //     }
        // }
    },
    mounted(){
        this.getPersons()
        // let a = new Date()    
        // let b = new Date('09/11/2019')
        // if(a >= b)
        // { 
        //     this.validPeriod = true
        // } 
    },
    methods: {
        getPersons() {
            this.afiliados = []
            axios.post('/auth/getAllPersons').then((resp) => {
                let data = this.$myCryptor.decode(resp.data.data)
                let dataAff = {
                    id:'',
                    name:'',
                    lastname:'',
                    dniType:'',
                    dni:'',
                    gender:'',
                    pattern:'',
                    realPattern:'',
                    userType:'',
                    address:'',
                    city:'',
                    mail:'',
                    phone:'',
                    bankAccount:'',
                    bank:''     
                }
                if(resp.data.status == 'success')
                {
                    for (let index = 0; index < data.length; index++) {
                       
                       dataAff.id = data[index]._id
                       dataAff.name = data[index].name.first
                       dataAff.lastname = data[index].name.last
                       dataAff.dniType = data[index].dni.dniType
                       dataAff.dni = data[index].dni.dni
                       dataAff.gender = data[index].gender
                       dataAff.pattern = data[index].pattern
                       dataAff.realPattern = data[index].realPattern
                       dataAff.userType = data[index].accessData.userType
                       dataAff.address = data[index].address.addInfo
                       dataAff.city = data[index].address.city
                       dataAff.mail = data[index].mail
                       dataAff.phone = data[index].phone
                       dataAff.bankAccount = data[index].bankAccount.account
                       dataAff.bank = data[index].bankAccount.bank 
                       
                       this.afiliados.push(dataAff)
                       dataAff = {
                        id:'',
                        name:'',
                        lastname:'',
                        dniType:'',
                        dni:'',
                        gender: '',
                        pattern:'',
                        realPattern:'',
                        userType:'',
                        address:'',
                        city:'',
                        mail:'',
                        phone:'',
                        bankAccount:'',
                        bank:''     
                        }
                    }
                    this.loading = false
                } else {
                    this.$swal.fire({
                        title:'Ups! No se encontró ningún afiliado',
                        type:'warning',
                        showCancelButton:false,
                        confirmButtonColor: '#E76F55',
                        confirmButtonText: 'Aceptar'
                    })
                }
            })
        },
        clearInputs() {
        this.firstname = ''
        this.secondname= ''
        this.lastfname = ''
        this.lastlname = ''
        this.dataForm.name.first = ''
        this.dataForm.name.last = ''
        this.dataForm.gender = ''
        this.dataForm.address.city = ''
        this.dataForm.address.addInfo = ''
        this.location.dep = null
        this.dataForm.dni.dni = ''
        this.dataForm.dni.dniType = ''
        this.dataForm.mail = ''
        this.dataForm.phone = ''
        this.dataForm.accessData.userType = ''
        this.cit = []
        this.response.uniquePerson.text = ''
        this.response.uniquePerson.status = null
        this.response.validationMail.text = ''
        this.response.validationMail.status = null
        this.response.validation_phone.text = ''
        this.response.validation_phone.status = null
        this.response.charginButton = false
        this.temp.dni = ''
        this.temp.mail = ''
        this.temp.phone = ''
        this.temp.id = ''
        },
        // getPatterns(id) {
        //     axios.post('/auth/getPersonByParams',{queryParams :{'_id': id}}).then((resp) => {

        //     })
        // },
        quitaacentos(s) {
            var r=s.toLowerCase();
            r = r.replace(new RegExp(/\s/g),"");
            r = r.replace(new RegExp(/[àáâãäå]/g),"a");
            r = r.replace(new RegExp(/[èéêë]/g),"e");
            r = r.replace(new RegExp(/[ìíîï]/g),"i");
            r = r.replace(new RegExp(/ñ/g),"n");                
            r = r.replace(new RegExp(/[òóôõö]/g),"o");
            r = r.replace(new RegExp(/[ùúûü]/g),"u");                                
            return r;
        }, 
        validEmail(email) {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        },
        setup_cc(n)
        {
            var num = /^(0|[1-9][0-9]*)$/.test(n)
            //   return num
            // console.log('other',num)
             if(num == false)
             {
                this.response.uniquePerson.status = true
                this.response.uniquePerson.text = 'Número de identificación inválido'
             }else{
                this.response.uniquePerson.status = false
                this.response.uniquePerson.text = 'Aprobado'
             }
        },
        setup_nit(n){
            // var num = /^([0-9][0-9])*([-/0-9][0-9])+([0-9][0-9])$/.test(n)
            var num = /^[1-9][0-9]*([-][0-9]{1,3})$/.test(n)
            //   return num
            // console.log('nit',num)
             if(num == false)
             {
                this.response.uniquePerson.status = true
                this.response.uniquePerson.text = 'NIT inválido'
             }else{
                this.response.uniquePerson.status = false
                this.response.uniquePerson.text = 'Aprobado'
             }
            },
        setup_pp(n){
            // var num = /^(0|[1-9][0-9])*$/.test(n)
            var num = /^[0-9a-zA-Z]+$/.test(n)
            //   return num
            // console.log(num)
             if(num == false)
             {
                this.response.uniquePerson.status = true
                this.response.uniquePerson.text = 'Número de pasaporte inválido'
             }else{
                this.response.uniquePerson.status = false
                this.response.uniquePerson.text = 'Aprobado'
             }
            }, 
        uniquePerson()
        {
            if(this.dataForm.dni.dni != '' && this.dataForm.dni.dni.length >= 7)
            {
                if(this.dataForm.dni.dni != this.temp.dni)
	            {
                        axios.post('/auth/getPersonByParams', {queryParams :{'dni.dni': this.dataForm.dni.dni}}).then((res) =>
                    {
                        if(res.data.status == 'failed')
                        {
                            if(this.dataForm.dni.dniType == 'PAS')
                            {this.setup_pp(this.dataForm.dni.dni)}
                            else if(this.dataForm.dni.dniType == 'NIT')
                            {this.setup_nit(this.dataForm.dni.dni)}
                            else if(this.dataForm.dni.dniType != 'PAS' && this.dataForm.dni.dniType != 'NIT')
                            {this.setup_cc(this.dataForm.dni.dni)}
                        }
                        else
                        {
                            this.response.uniquePerson.status = true
                            this.response.uniquePerson.text = 'Este Número de identificación ya se encuentra registrado'
                        }
                    })
                }
            }
            else
            {   
                this.response.uniquePerson.status = true
                this.response.uniquePerson.text = 'Número de identificación no válido'
            }
        },
        valEmail() {
            let mail=this.dataForm.mail
            if(mail != '' && !this.validEmail(mail) && mail != this.temp.mail){
                this.response.validationMail.status = true
                this.response.validationMail.text='Correo no válido'
            }else{
                this.response.validationMail.status = false
                this.response.validationMail.text=''
                this.uniqueMail()
            }
            if(mail == ''){
                this.response.validationMail.status = null
                this.response.validationMail.text=''
            }            
        },
        uniqueMail() {
                axios.post('/auth/getPersonByParams', {queryParams :{'mail': this.dataForm.mail}}).then((res) =>
                {
                    if(res.data.status == 'failed')
                        {
                            this.response.validationMail.status = false
                            this.response.validationMail.text = ''
                        }
                        else
                        {
                            this.response.validationMail.text = ''
                            this.response.validationMail.status = true
                            this.response.validationMail.text = 'Esta dirección de correo eléctronico ya se encuentra registrada'
                        }
                })
            
        },
        setup_num(n){
            var num = /^(0|[0-9+/][0-9]*)$/.test(n)
              return num
            },
        valPhone()
        {
            let n = this.dataForm.phone
            if(n != '' && (!this.setup_num(n) || n.length < 7 ) && n != this.temp.phone)
            {
                this.response.validation_phone.status = true
                this.response.validation_phone.text = ' número telefónico inválido. Debe contener solo números o "+" indicativo y mínimo 7 digitos'

            }else{
                this.response.validation_phone.status = null
                this.response.validation_phone.text = ''
            }  
        },
        upAffiliate(id,ck){
            this.clearInputs()
            $(document).scrollTop(0)
            if(ck == 'pbi')
            {
                this.temp.id = this.afiliados[id].id.toString() //temp ID
                this.firstname = this.afiliados[id].name.split(" ")[0]
                if(this.afiliados[id].name.split(" ").length == 2) {
                    this.secondname = this.afiliados[id].name.split(" ")[1]
                }
                this.lastfname = this.afiliados[id].lastname.split(" ")[0]
                this.lastlname = this.afiliados[id].lastname.split(" ")[1]
                this.dataForm.gender = this.afiliados[id].gender
                this.dataForm.dni = {dniType: this.afiliados[id].dniType, dni: this.afiliados[id].dni}
                this.temp.dni = this.afiliados[id].dni // temp DNI
                this.dataForm.address.addInfo = this.afiliados[id].address
                for (let index = 0; index < this.dept.length; index++) {
                    let dep = this.dept[index]
                    let town = dep.ciudades.includes(this.afiliados[id].city)
                    if(town == true)
                    {
                        this.location.dep = dep.departamento+"/"+index
                        break;
                    }
                }            
                this.dataForm.address.city = this.afiliados[id].city
                this.dataForm.mail = this.afiliados[id].mail
                this.temp.mail = this.afiliados[id].mail //temp mail
                this.dataForm.phone = this.afiliados[id].phone
                this.temp.phone = this.afiliados[id].phone // temp phone
                this.dataForm.accessData.userType = this.afiliados[id].userType
                this.showUp = true
                return false
            }
            else if(ck == 'pbki')
            {
                this.bankAccount.data.account = this.afiliados[id].bankAccount
                this.bankAccount.data.bank =this.afiliados[id].bank
                this.bankAccount.id = this.afiliados[id].id.toString()
                this.bankAccount.name = this.afiliados[id].name+" "+this.afiliados[id].lastname
                this.showUpIB = true
                return false
            }
            else if(upass =='upass')
            {

            }
            
        },
        valInfoBasic(){
            this.response.charginButton = true
            let ob0 = 0
            let ob1 = 0
            let ob2 = 0
            let ob3 = 0
            this.response.charginButton = false
            let names = this.dataForm.name
            let address = this.dataForm.address
            let dni = this.dataForm.dni
            let name = {
                fname: this.firstname,
                lfname: this.lastfname,
                lsname: this.lastlname
            }
            if(this.secondname != '')
            {this.dataForm.name.first = this.firstname+" "+this.secondname}
            else{this.dataForm.name.first = this.firstname}
            this.dataForm.name.last = this.lastfname+" "+this.lastlname
            // ciclo para validar campos vacios.
            for (const key in name) {
               if(name[key] == '') {   
                    ob0++
                }
            }
            for (const key in address) {
                if (address[key] == '') {
                    ob2++  
                }
            }
            for (const key in dni) {
                if (dni[key] == '') {
                    ob3++    
                }
            }
            console.log(ob0,ob2,ob3)
            if(ob0 > 0 || ob2 > 0 || ob3 > 0 || this.dataForm.gender == '' || this.dataForm.mail == '' || this.dataForm.phone == '' || this.dataForm.accessData.userType == '')
            {
                this.response.charginButton = false
                this.$swal.fire({
                    title: 'Debe llenar los campos obligatorios',
                    type: 'warning',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar'
                    })
                    // .then((result) => {
                    //     if (result.value) {
                    //         window.location.href = '/print'
                    //     }
                    // })
                    return false
            } 
            if(this.response.uniquePerson.status == true)
            {   
                this.response.charginButton = false
                this.$swal.fire({
                    title: 'El número de identificación no es válido o ya ha sido registrado',
                    type: 'warning',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar'
                    })
                    $('input[name=document]').focus()
                    return false
            }
            if(this.response.validationMail.status == true)
            {   
                this.response.charginButton = false
                this.$swal.fire({
                    title: 'La dirección de correo electronico ingresada no es válida o ya se encuentra registrada',
                    type: 'warning',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar'
                    })
                    $('input[name=email]').focus()
                    return false
            }
            if(this.response.validation_phone.status == true)
            {
                this.response.charginButton = false
                this.$swal.fire({
                    title: 'El número teléfonico ingresado no es válido',
                    type: 'warning',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar'
                    })
                    $('input[name=phone]').focus()
                    return false
            }
             if(ob1 == 0 && ob2 == 0 && ob3 == 0 && this.dataForm.gender != '' && this.dataForm.mail != '' && this.dataForm.phone != ''){
                 console.log('data:',this.dataForm)
                 this.updateInfoBasic()
             }


        },

        updateInfoBasic() {
            let idd = this.temp.id
            console.log(idd)
            let data_ = this.dataForm
           console.log('dataform:',data_)
            let data = this.$myCryptor.encode(data_)
            axios.post('/auth/update/infobasic',{id:idd,dataib:data}).then((resp) => {
                console.log(this.$myCryptor.decode(resp.data.data))
               if(resp.data.status == 'success')
               {
                    this.$swal.fire({
                        title: 'La información ha sido actualizada!',
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonColor: '#87ED6F',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                    })
                    this.clearInputs()
                    this.showUp = false
                    this.getPersons()
               }
               else
               {
                    this.$swal.fire({
                        title: 'Ups :(. Ocurrio un error inesperado. Intentelo más tarde!',
                        type: 'error',
                        showCancelButton: false,
                        confirmButtonColor: '#E76F55',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                        })
               } 
            })
        },
        val_input_bank(){
            let ib = 0
            let infobank = this.bankAccount.data
            for (const key in infobank) {
                if(infobank[key] == '')
                {
                    ib++
                }
            }
            if(ib > 0){
               this.$swal.fire({
                    title: 'Debe llenar los campos obligatorios',
                    type: 'warning',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar'
                    })
            }
            else {
                let accb = infobank.account
                if(infobank.account.length >= 7 && this.setup_num(accb))
                {
                    this.responsebank.charginButton = true
                    this.updateBankAccount()
                }
                else{
                   this.$swal.fire({
                    title: 'Número de cuenta inválido',
                    type: 'warning',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar'
                    }) 
                }
            }
        },
        updateBankAccount() {
            let dataub = this.$myCryptor.encode(this.bankAccount)
            axios.post('/auth/update/bank-account',{data:dataub}).then((resp)=> {
                let data = this.$myCryptor.decode(resp.data.data)
                if(resp.data.status == 'success'){
                    this.$swal.fire({
                        title: 'Su información bancaria ha sido actualizada con exito!',
                        text: 'Los cambios se verán reflejados la próxima vez que inicie sesión',
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonColor: '#87ED6F',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                    })
                    this.bankAccount.data.account = '',
                    this.bankAccount.data.bank = '',
                    this.response.charginButton = false
                    this.responsebank.charginButton = false
                }
                else{
                    this.$swal.fire({
                    title: 'Ups!. Ocurrio un error inesperado. Intentelo más tarde.',
                    type: 'error',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar'
                    })
                }
            })
        },
        val_input_pass(){
            this.response.validation_passnew = {
                status: false,
                text: ''
            }
            this.response.charginButton = true
            let datapass = this.dataPass 
            let validation_np = this.response.validation_passnew
            if(datapass.pass == '' || datapass.newPass == '' || datapass.passval == '')
            {
                this.$swal.fire({
                    title: 'Debe llenar todos los campos',
                    type: 'error',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar' 
                })
                this.response.charginButton = false
                return false
            }
            if(datapass.newPass.length < 8) 
            {
                validation_np.text = 'La contraseña debe tener mínimo 8 carácteres'
                validation_np.status = true
                this.response.charginButton = false
                return false
            }
            if(datapass.newPass == '') 
            {
                validation_np.text = ''
                validation_np.status = null
                this.response.charginButton = false
                return null
            }
            if(datapass.newPass != datapass.passval)
            {
                this.$swal.fire({
                    title: 'Las contraseñas no coinciden',
                    type: 'error',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar' 
                })
                this.response.charginButton = false
                validation_np.status = null
                validation_np.text = ''

                return false
            }
            if(datapass.pass != '' && datapass.newPass != '' && datapass.passval != '' && validation_np.status == false)
            {
                this.updatePass()
            }  
        },
        updatePass() {
            let data = this.dataPass
            let datapass = this.$myCryptor.encode(data)
            axios.post('/auth/update/userPassword',{pass:datapass}).then((resp) => {
                // console.log(resp.data.status)
                if(resp.data.status == 'success')
                {
                    this.$swal.fire({
                        title: 'La contraseña ha sido cambiada con exito!',
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonColor: '#87ED6F',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                    })
                    this.dataPass.pass = ''
                    this.dataPass.newPass = ''
                    this.dataPass.passval = ''
                    this.response.validation_passnew.status = false
                    this.response.validation_passnew.text = ''
                    this.response.charginButton = false
                }
                else{
                    if(resp.data.status == 'failed')
                   { 
                        this.$swal.fire({
                        title: 'Ups :(. Ocurrio un error inesperado. Intentelo más tarde!',
                        type: 'error',
                        showCancelButton: false,
                        confirmButtonColor: '#E76F55',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                        })
                        this.response.charginButton = false
                        return false
                    }
                    if(resp.data.status == 'failedpass')
                    {
                        this.$swal.fire({
                        title: 'Error!. La contraseña actual ingresada no coincide con la contraseña de la actual sesión',
                        type: 'error',
                        showCancelButton: false,
                        confirmButtonColor: '#E76F55',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                        })
                        this.response.charginButton = false
                        return false
                    }
                }
            })
        }
    }    
}
</script>
