<template>
   <div class="container">
       <h1>{{tittle}}</h1>
       
       <el-input v-model="filters[0].value"></el-input>
       <data-tables :data="data" :filters="filters">
           <el-table-column prop="name" label="Pais" ></el-table-column>
            <el-table-column prop="rank" label="Rango" ></el-table-column>

       </data-tables>
   </div>
</template>
<script>
export default {
    data(){
        return{
            tittle:"titulo",
            data:[                    //arreglo 
                {name:'USA', rank:1},
                {name:'MEXICO',rank:2},
                {name:'COLOMBIA',rank:3}],
            filters:[
                {prop:['name','rank'],
                value:''}
            ]

            }
        
    },
    mounted(){
        this.getData()
    },
    methods:{
        getData(){
            console.log("here")
            axios.post("/auth/getAllTree",{id:"5d0ba8a67f63da20644b6c49"})  //datos
            .then(resp => {
                console.log(resp.data)
            })
        }
    }
}
</script>

