<template>
    <div class="container">
        <div class="Elipse-1 animated pulse"></div>
        <div class="Elipse-2 animated pulse"></div>
        <div class="row mx-0">
            <div class="col-12 col-lg-12 text-center col-md-12 align-items-center justify-content-center position-relative d-flex" style="height:100vh;">
                <div class="col-lg-5 col-md-6 col-sm-12 card_wrapper bg-white px-5 py-5 animated fadeIn">
                   <div class="errors">
                        <ul class="error-handler mb-0">
                            <li class="text-left font-weight-bold pb-1"><i class="el-icon-warning"></i> Info</li>                        
                            <li class="text-left error-textt">lorem insup door sit amet</li>
                        </ul>
                   </div>
                    <p class="mb-0">
                        <p class="poppins mb-2 text-center">                            
                            <div class="px-4">
                                <img src="/src/textures/logos/logo.png" style="width:280px;" class="img-fluid pb-3 border-bottom border-light mb-2" alt="">
                            </div>
                            <p class="mb-0 poppins text-center" style="letter-spacing: 5px;font-size: 15px;color:#b0b9b7;">OFICINA VIRTUAL</p>
                        </p>
                        <div class="input-wrapper position-relative mb-3">
                            <img src="/src/textures/icons/user/icons8-user.png" srcset="/src/textures/icons/user/icons8-user@2x.png 2x,/src/textures/icons/user/icons8-user@3x.png 3x" style="filter: grayscale(80%);" class="icons8-user">
                            <input type="text" v-model="inputUser" class="form-control-login" placeholder="Ingrese Usuario">                            
                        </div>
                        <div class="input-wrapper position-relative mb-1">
                            <img src="/src/textures/icons/key/icons8-password.png" srcset="/src/textures/icons/key/icons8-password@2x.png 2x,/src/textures/icons/key/icons8-password@3x.png 3x" style="filter: grayscale(80%);" class="icons8-user">
                            <input type="password" v-model="inputPass" class="form-control-login" placeholder="Ingrese Contraseña">                            
                        </div>                        
                        <!-- <div class="pt-2 pl-1">
                            <div class="custom-control text-left custom-checkbox" style="transform:scale(.9);position: relative;left: -22px;">
                                <input type="checkbox" v-model="admin" class="custom-control-input" id="adminU">
                                <label class="custom-control-label poppins" for="adminU" style="color:#747779;">Entrar como administrador</label>
                            </div>
                        </div> -->
                    </p>                    
                    <el-tooltip content="Ingresar 👌" placement="bottom" effect="dark">                        
                        <el-button v-bind:disabled="(inputUser == '') || (inputPass == '') || button.disabled" type="success" class="bg-btn btn-login poppins" :loading="button.loading" @click="login()"> Iniciar</el-button>
                    </el-tooltip>
                    <p class="mb-0 poppins text-center copyright-login"><i class="fa fa-copyright" style="font-size: 1.4em;top: 1px;position: relative;"></i> Copyright <strong>IMPHA</strong> | Todos los derechos reservados</p>
                </div>
            </div>            
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            inputPass: '',
            inputUser: '',
            admin: false,
            button: {loading: false, disabled: false}
        }
    },
    mounted()
    {        
        
    },
    methods:
    {
        login()
        {
            this.button.loading = true;
            this.button.disabled = true;
            var data = {nickname: this.inputUser.toLowerCase(), password: this.inputPass}
            if(this.admin) {
                data = {nickname: 'admin_'+this.inputUser, password: this.inputPass}
            }
            var el = this.$myCryptor.encode(data)
            axios.post('/auth/validate', {data: el}).then(resp => {
                if(resp.data.status == 'success')
                {
                    if(resp.data.red == 'rec')
                        window.location.href = '/';
                    else
                        window.location.href = '/orders';    
                }
                else
                {
                    $('.error-textt').text(resp.data.response)
                    $('.error-handler').css({'top': '0px'})                    
                }
                this.button.loading = false;
                this.button.disabled = false;
            }).catch(error => {
                alert('Un error inesperado a ocurrido', error); //aquí falta estilizar igual
                this.button.loading = false;
                this.button.disabled = false;
            })
        }
    }
}
</script>