<template>
     <div class="some-cont"> 
        <div class="row mx-0 my-4">
            <div class="col-lg-12 row mx-0 text-center">
                <div class="col-lg-12">
                    <img src="/src/textures/logos/logo.png" class="image">
                </div>
                <div class="col-lg-12">
                    <p class="poppins-bold" style="color:rgb(86, 86, 85);letter-spacing:2px;">Panel Administrativo</p>
                    <p class="poppins" style="color:rgba(86, 86, 85, 0.88);">Bienvenid@ - <strong>{{ nameUser }}</strong></p>
                </div>                
            </div>
            <el-divider><i class="el-icon-menu" style="color:rgb(95, 92, 92);"></i></el-divider>
            <div class="col-lg-12 row mx-0">
                <div class="col-lg-4 col-12 col-md-12 mb-2 d-flex justify-content-center align-items-center">
                     <el-card class="box-card text-center p-2" shadow="hover" style="cursor:pointer;">
                            <div class="box-img" @click="redirectView('history')">
                                <img src="/src/pay_history.png">
                                <div>
                                    <el-divider></el-divider>
                                    <h5 class="poppins-light mt-0 mb-0">Historial de pagos</h5>                                    
                                </div>
                            </div>  
                                <!-- <span class="poppins-light">Consulta de pagos realizados y pagos expirados</span> -->
                                <!-- <div>
                                   <el-button type="info" plain class="button w-100">Ir</el-button>     
                                </div> -->
                        </el-card>
                </div>
                <div class="col-lg-4 col-12 col-md-12 mb-2 d-flex justify-content-center align-items-center">
                    <el-card class="box-card text-center p-2" shadow="hover" style="cursor:pointer;">
                            <div class="box-img" @click="redirectView('orderspays')">
                                <img src="/src/pay_click.png">
                                <div>
                                    <el-divider></el-divider>
                                    <h5 class="poppins-light mt-0 mb-0">Registrar pagos</h5>                                
                                </div>
                            </div> 
                                <!-- <span class="poppins-light">Consulta de pagos realizados y pagos expirados</span> -->
                                <!-- <div>
                                   <el-button type="info" plain class="button w-100">Ir</el-button>     
                                </div> -->
                        </el-card>
                </div>
                <div class="col-lg-4 col-12 col-md-12 d-flex justify-content-center align-items-center">
                    <el-card class="box-card text-center p-2" shadow="hover"  style="cursor:pointer;">
                            <div class="box-img" @click="exit">
                                <img src="/src/exit.png">
                                <div>
                                    <el-divider></el-divider>
                                    <h5 class="poppins-light mt-0 mb-0">Cerrar sesión</h5>                                    
                                </div>
                            </div>  
                                <!-- <span class="poppins-light">Consulta de pagos realizados y pagos expirados</span> -->
                                <!-- <div>
                                   <a href="/logout"><el-button type="info" plain class="button w-100">Salir</el-button></a>     
                                </div> -->
                        </el-card>
                    
                </div>
            </div>
        </div>
        <div class="mt-2 mb-2">
             <el-divider></el-divider>
            <router-view uid="pays"></router-view>
        </div>       
        <div class="poppins info-s-wrapper justify-content-between d-flex align-items-center w-100 position-fixed fixed-bottom mt-3">
            <div class="px-3 text-white">
                <!-- <i class="fa fa-copyright"></i> <span class="font-weight-bold">{{name}}</span> {{today_year}} • <strong>v{{version}}</strong> -->
                 <!-- <i class="fa fa-copyright"></i> <span class="font-weight-bold">IMPHA</span> {{today_year}} • <strong>v1.0</strong> -->
                 <i class="fa fa-copyright"></i> <span class="font-weight-bold">OPTIRIS</span> 2019 • <strong>v1.0</strong>
            </div>
            <div class="px-3 text-white">
                <span class="">
                    <i class="fa fa-calendar"></i> <b>Ultimo Acceso:</b> {{lastAccess}}
                </span>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            nameUser:'',
            lastAccess:'',
        }
    },
    mounted() {
        this.sessdata()
    },
    methods:{
        sessdata() {
            axios.post('/auth/sessdata', {fields: ['userType', 'name','lastAccess']}).then(resp => 
            {                     
                let res = this.$myCryptor.decode(resp.data.data);                                                        
                this.userType = res[0]
                this.nameUser = res[1].first + " " + res[1].last
                this.lastAccess = res[2].split('T')[0] + ' a las ' + res[2].split('T')[1].split(':')[0] + ':' + res[2].split('T')[1].split(':')[1]
                
            })
        },
        redirectView(comp)
        {
            location.href = '/orders#/'+comp+''
        },
        exit() {
            location.href = '/logout'
        }
    }
}
</script>
