<template>
    <div class="some-cont">        
        <div class="side-nav no-collapse" id="side-navv">
            <p class="logo_main p-1 mb-1">
                <img src="src/textures/logos/impha.jpg" class="img-fluid img-thumbnail border-0" alt="">
            </p>
            <ul class="list-unstyled mb-0"> 
                <hr class="my-0">    
            <!-- begin copy to other element [item] at side-nav  -->
            <div>
                <li class="" id="0">
                    <div class="nav-item d-flex align-items-center w-100 position-relative">
						<i class="ifa fa fa-share-alt"></i>
                        <p class="animated fadeIn mb-0 item-text-title">REC</p>
                        <i class="more-items-nav fa fa-chevron-right animated fadeInRight ml-auto mb-1"></i>
                    </div>                                       
                </li>                
                <div class="more-items-in-item" data-id="0">
                    <router-link to="/constellation"><p>Organización</p></router-link>
                </div>
                <div class="more-items-in-item" data-id="0">
                    <router-link to="/r"><p>Nuevo Registro</p></router-link>
                </div> 
                <hr class="my-0"> 
            </div>
            <div>
                <li class="" id="1">
                    <div class="nav-item d-flex align-items-center w-100 position-relative">
						<i class="ifa fa fa-money"></i>
                        <p class="animated fadeIn mb-0 item-text-title">PAGOS</p>
                        <i class="more-items-nav fa fa-chevron-right animated fadeInRight ml-auto mb-1"></i>
                    </div>                                       
                </li>                
                <div class="more-items-in-item" data-id="1">
                    <router-link to="/points"><p>Historial de Puntos</p></router-link>
                </div>
                <div class="more-items-in-item" data-id="1">
                    <router-link to="/mypays"><p>Historial de pagos</p></router-link>
                </div>
                <hr class="my-0"> 
            </div>
            <div>
                <li class="" id="2">
                    <div class="nav-item d-flex align-items-center w-100 position-relative">
						<i class="ifa fa fa-shopping-bag"></i>
                        <p class="animated fadeIn mb-0 item-text-title">COMPRAS</p>
                        <i class="more-items-nav fa fa-chevron-right animated fadeInRight ml-auto mb-1"></i>
                    </div>                                       
                </li>                
                <div class="more-items-in-item" data-id="2">
                    <router-link to="/purchases"><p>Historial de compras</p></router-link>
                </div>
                <hr class="my-0"> 
            </div>
            <!-- end copy to other element [item] at side-nav  -->             
            </ul>
        </div>
        <div class="nav-bar active d-flex align-content-center">
               <div class="d-flex align-content-center justify-content-between w-100">
                    <div class="wrapper_nav_control align-items-center d-inline-flex">
                        <el-tooltip content="Menú" placement="bottom">
                            <a class="btn btn-small bg-dark btn-collapse-side">
                                <i class="fa fa-bars"></i>
                            </a>
                        </el-tooltip>
                        <el-tooltip content="Atras" placement="bottom">
                            <a class="btn btn-small bg-dark mx-1" onclick="window.history.go(-1); return false;">
                                <i class="fa fa-arrow-left"></i>
                            </a>
                        </el-tooltip>
                        <el-tooltip content="Tienda IMPHA" placement="bottom">
                            <a class="btn btn-small bg-primary mx-1" href="http://tienda.impha.com.co">
                                <i class="fa fa-cart-plus"></i>
                            </a>
                        </el-tooltip>
                    </div>
                    <span class="poppins text-dark mb-0 main-name-module focus-in-contract-bck pt-2">Oficina Virtual</span>
                    <div class="wrapper_profile_control poppins">
                        <div class="roll-in-blurred-left d-inline-grid n-r">
                            <strong class="text-dark" v-html="nameUser"></strong>
                            <!-- <span class="text-white">{{ rolUser }}</span>                                 -->
                        </div>                      
                        <img src="src/photo_.png" class="img-fluid profile-photo ml-2" alt="" style="filter: grayscale(80%);">
                       	<!-- <div class="mx-1 ml-1 px-1 wrapper_notification d-flex align-items-center justify-content-center">
                            <a class="font-weight-bold px-2 py-2" href="#" id="notificationLink">
                                <i class="fa fa-bell text-white notification-icon"></i>
                                <span class="badge text-white text-dark-blue count-notification">0</span>
	            	        </a>
                        </div> -->
                        <el-dropdown trigger="click">
                            <span class="el-dropdown-link mx-2">
                                <i class="text-dark el-icon-more-outline fa-rotate-90" style="outline:none;font-size: 17px;margin-top: 6px;cursor:pointer;"></i>
                            </span>
                            <el-dropdown-menu slot="dropdown" style="width:160px;">
                                <a class="poppins-light text-dark" style="text-decoration: none;" href="#/profile"><el-dropdown-item><i class="el-icon-user"></i>Perfil</el-dropdown-item></a>
                                <a class="poppins-light text-dark" style="text-decoration: none;" href="/logout"><el-dropdown-item><i class="el-icon-circle-close"></i> Cerrar Sesion</el-dropdown-item></a>
                            </el-dropdown-menu>
                        </el-dropdown>  
                    </div>
               </div>
            </div>
        <div class="main-app active" id="main-appp">            
            <div class="card border-0 mb-5 mt-2 radius-0 white-bg px-3 py-2" style="margin-bottom: 0px;">
               <router-view data-uid="main"></router-view>
            </div>
        </div>        
        <div class="poppins info-s-wrapper justify-content-between d-flex align-items-center w-100 position-fixed fixed-bottom">
            <div class="px-3 text-white">
                <!-- <i class="fa fa-copyright"></i> <span class="font-weight-bold">{{name}}</span> {{today_year}} • <strong>v{{version}}</strong> -->
                 <i class="fa fa-copyright"></i> <span class="font-weight-bold">IMPHA</span> {{today_year}} • <strong>v1.0</strong>
            </div>
            <div class="px-3 text-white">
                <span class="">
                    <i class="fa fa-calendar"></i> <b>Ultimo Acceso:</b> {{last_access}} 
                </span>
                <!-- <a href="#help" class="text-white">Help</a> <i class="fa fa-question"></i> -->
            </div>
        </div>
         <!-- START ALERT -->
        <div id="chidoriAlert" class="d-flex align-items-center position-fixed fixed-bottom w-100 px-5 p-3">
            <div class="w-100 container px-4">
                <div class="row">
                    <div class="col-lg-9 col-md-9 mb-2">
                        <img class="img-fluid iconAlert" src="src/textures/icons/success.png" alt="">
                        <div class="d-inline-grid position-absolute textAlert">
                            <strong class="">Lorem insup</strong> 
                            <span class="text-white poppins">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus vero af</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 buttonAlert d-flex align-items-center justify-content-center">
                        <button class="alertButton">
                            Aceptar
                        </button>
                    </div>
                </div>
            </div>
             <!-- <audio id="soundNotify">
                <source src="src/sounds/notification.mp3" type="audio/mp3">
            </audio> -->
        </div>
        <!-- END ALERT -->
    </div>
    
</template>

<script>
// const {version, name} = require('../../packgage.json')
// import { EventBus } from '../../Utilities/Plugins/Bus.js'
export default {
    data(){
        return{          
            today_year: new Date().getFullYear(),
            zoom: 1,
            ip: '',
            mm: 0,
            wid: "80%",
            // name: name,
            typeR: '',
            dataShowReception: {products: []},
            // version: version,
            last_access: new Date().getDate()+'-'+(new Date().getMonth()+1)+'-'+new Date().getFullYear(),
            modeEdit: false,
            nameUser: '',
            access: {},
            rolUser: '',
            dni: '',
            notify: 
            {
                charge: true,
                noResult: false,
                content: [],
                unread: 0,
                click: 0
            },
            viewData: null,
            formatData: [],
            dbData: [],
            prods: [],
        }
    },
    created()
    {        
        this.sessdata()        
    },
    mounted() 
    {                
        $('[data-toggle="tooltip"]').tooltip()                
        // axios.post('/api/ip').then((res) =>
        // {
        //     this.ip = this.$myCryptor.decode(res.data)
        // })        
        // // this.ip = '192.168.0.1'        
        // setTimeout(() => 
        // {
        //     this.Notifications('LIST')             
        // }, 500);
     // EventBus.$on('viewDispen', data => 
        // {
        //     console.log(data)
        // });

    },
    methods:
    {        
        sessdata()
        {
            axios.post('/auth/sessdata', {fields: ['name','dni','lastAccess']}).then(resp => 
            {                     
                let res = this.$myCryptor.decode(resp.data.data);                                             
                this.nameUser = res[0].first+' <br> '+res[0].last
                this.dni = res[1].dni
                // this.access = res[2].lastAccess 
                this.last_access = res[2].split('T')[0] + ' a las ' + res[2].split('T')[1].split(':')[0] + ':' + res[2].split('T')[1].split(':')[1]
            })
        }            
    }
}
</script>


