<template>
    <div class="nav-bar active d-flex align-content-center">
               <div class="d-flex align-content-center justify-content-between w-100">
                    <div class="wrapper_nav_control align-items-center d-inline-flex float-left">
                        <el-tooltip content="Inicio" placement="bottom">
                            <a class="btn btn-small bg-dark mx-1" href="/orders">
                                <i class="fa fa-home"></i>
                            </a>
                        </el-tooltip>
                         <el-tooltip content="Ordenes de pago" placement="bottom">
                            <a class="btn btn-small bg-dark mx-1" href="/orders#/orderspays"  v-if="url != '#/orderspays'">
                                <i class="fa fa-money"></i>
                            </a>
                         </el-tooltip>
                        <el-tooltip content="Historial de pagos" placement="bottom">
                            <a class="btn btn-small bg-dark mx-1" href="/orders#/history"  v-if="url != '#/history'">
                                <i class="fa fa-clock-o"></i>
                            </a>
                        </el-tooltip>
                        <!-- <a class="btn btn-small bg-dark mx-1" onclick="window.history.go(-1); return false;" data-toggle="tooltip" data-placement="bottom" title="Atras">
                            <i class="fa fa-arrow-left"></i>
                        </a> -->
                    </div>
                    <span class="poppins text-dark mb-0 main-name-module focus-in-contract-bck pt-2">Panel Administrativo</span>
                    <div class="wrapper_profile_control poppins">
                        <div class="roll-in-blurred-left d-inline-grid n-r">
                            <strong class="text-dark" v-html="nameUser"></strong>
                            <!-- <span class="text-white">Maria Fernanda</span>                                 -->
                        </div>                      
                        <img src="src/money.png" class="img-fluid profile-photo ml-2" alt="" style="filter: grayscale(80%);">
                        <el-dropdown trigger="click">
                            <span class="el-dropdown-link mx-2">
                                <i class="text-dark el-icon-more-outline fa-rotate-90" style="outline:none;font-size: 17px;margin-top: 6px;cursor:pointer;"></i>
                            </span>
                            <el-dropdown-menu slot="dropdown" style="width:160px;">
                                <a class="poppins-light text-dark" style="text-decoration: none;" href="/logout"><el-dropdown-item><i class="el-icon-circle-close"></i> Cerrar Sesion</el-dropdown-item></a>
                            </el-dropdown-menu>
                        </el-dropdown>  
                    </div>
               </div>
            </div>
</template>
<script>
export default {
    data() {
        return {
            nameUser:'',
            url:null
        }
    },
    mounted() {
        this.sessdata()
        this.getURL()
    },
    methods: {
         sessdata() {
            axios.post('/auth/sessdata', {fields:['name']}).then((resp) => {
                let res = this.$myCryptor.decode(resp.data.data);
                this.nameUser = res[0].first+' <br> '+res[0].last

            })
        },
        getURL() {
            this.url = window.location.hash
            // console.log(this.url.split('#/')[1])
        }
    } 
}
</script>