
<template>
    <div class="cont">
          <navbar-component></navbar-component>   
        <div class="container" style="top: 82px !important; position:relative !important">
        <h4 class="text-center poppins text-dark font-weight-bold text-uppercase">Ordenes de pago</h4> 
        <hr class="bg-dark-blue">
            <div class="row">    
                <div :class="'col-lg-11'">         
                <el-input placeholder="" class="mb-2 poppins input-s" v-model="filters[0].value">  
                    <template slot="prepend">Buscar</template>
                </el-input>
                </div>
            <div class="col-lg-1 pt-1">
                <el-button icon="el-icon-key" size="medium" @click="viewModalPass" v-if="pin == ''"></el-button>
            </div> 
            </div>
        <data-tables v-loading.body="loading" :table-props="tableProps" :data="orders" :filters="filters">
            <el-table-column prop="dniType" label="Tipo ID" header-align="center" align="center" width="80">
            </el-table-column>
            <el-table-column prop="dni" label="ID" sortable="custom" header-align="center" align="center" width="100">
            </el-table-column>
            <el-table-column prop="name" width="250" label="Usuario" sortable="custom" header-align="center" align="center">
                <template slot-scope="scope">
                      {{scope.row.name+" "+scope.row.lastname }}  
                </template>
            </el-table-column>
            <el-table-column prop="monto" label="Monto" width="120" sortable="custom" header-align="center" align="center">
                <template slot-scope="scope">
                      {{scope.row.monto.toLocaleString('de-DE') }}  
                </template>
            </el-table-column>
            <!-- <el-table-column prop="tax" label="IVA" sortable="custom" header-align="center" align="center">
            </el-table-column> -->
            <el-table-column prop="deductions" label="Deducciones" width="120"  header-align="center" align="center">
                <template slot-scope="scope">                          
                    <span class="poppins-light">{{scope.row.deductions.toLocaleString('de-DE')}}</span>  
                </template>
            </el-table-column>
            <el-table-column prop="neto" label="Neto" sortable="custom" width="120" header-align="center" align="center">
                <template slot-scope="scope">                          
                    <span class="poppins-light">{{scope.row.neto.toLocaleString('de-DE')}} <el-tooltip content="Neto = monto - deducciones" placement="top"><i class="el-icon-info"></i></el-tooltip></span>  
                </template>
            </el-table-column>
            <el-table-column prop="bank" label="Banco" width="120"  header-align="center" align="center">
            </el-table-column>
            <el-table-column prop="accounthide" width="120" label="N° cuenta" header-align="center" align="center">
                <template slot-scope="scope">
                    <span ><span class="poppins-light">{{ scope.row.accounthide }}</span></span>
                    <!-- <span ><span class="poppins-light">{{ scope.row.dataAccount }}</span></span> -->
                    
                </template>    
            </el-table-column>

            <el-table-column label = "Pagar" width="80"  header-align="center" align="center" v-if="pin != ''">
                <template slot-scope="scope">
               <el-button class="el-icon-money" size="medium" @click="formPay(scope.row)"></el-button>
                </template>
                    </el-table-column> 
        </data-tables>

        <!---------------------------------------------------------- MODAL PAY -------------------------------------------------------------------------------------------------------->
        <el-dialog title="" :visible.sync="payFormVisible" :show-close="showClose" :close-on-click-modal="outModal" :close-on-press-escape="escModal" top="4rem" width="60%">
            <div slot="title" class="clearfix text-center">
                <span class="poppins-bold text-secondary">Orden de pago</span>
                <span class="poppins-light text-secondary">{{": "+infoToPay.name.first+" "+infoToPay.name.last+"-"}} </span> 
                <span class="poppins-light text-secondary">{{"ID: "+infoToPay.dni}}</span>                
            </div>
            <p class="poppins"><i class="el-icon-info"></i> Consignación a cuenta bancaria:&nbsp; {{ infoToPay.account+" - Banco "+infoToPay.bank }}</p>
            <el-form :inline="true" :model="formTax" ref="formTax"  class="demo-form-inline">
                <el-form-item label="concepto" prop="tax" class="poppins">
                    <el-input v-model="formTax.tax" ></el-input>
                </el-form-item>
                <el-form-item label="valor(%)" prop="val">
                    <el-input-number v-model="formTax.val" controls-position="right" :min="0" :max="100"></el-input-number>
                </el-form-item>
                <el-form-item>
                    <el-button type="info" size="medium"  icon="el-icon-plus" @click="addTax(infoToPay.monto,infoToPay.id)"></el-button>
                </el-form-item>
            </el-form> 
            <div id="addTax" class="mt-2 poppins">
                <el-divider content-position="left">DEDUCCIONES</el-divider>
                <el-table
                :data="listTax"
                style="width: 100%"
                max-height="250"
                empty-text="No se ha ingresado ningun impuesto"
                >
                <el-table-column prop="concept" label="Impuesto"></el-table-column>
                <el-table-column prop="percent" label="Valor (%)"></el-table-column>
                <el-table-column label="Total">
                    <template slot-scope="scope">
                        {{ (infoToPay.monto * ((scope.row.percent)/100)).toLocaleString('de-DE')}}
                    </template>
                </el-table-column>
                <el-table-column
                fixed="right"
                label="Acción"
                width="120">
                <template slot-scope="scope">
                    <el-button
                    @click.prevent="deleteTax(scope.$index, listTax,infoToPay.id)"
                    type="danger"
                    size="small" icon="el-icon-minus">
                    </el-button>
                </template>
                </el-table-column>
                </el-table>
            </div>
            <div class="col-md-3 offset-md-9 mt-4">
                <div class="mb-2"><span  class="poppins mr-2  text-secondary">MONTO: </span><span class="poppins-light">{{"$ "+infoToPay.monto.toLocaleString('de-DE')}}</span></div>
                <div class="mb-2"><span class="poppins mr-2  text-secondary">IMPUESTO: </span> <span class="poppins-light">{{"$ "+infoToPay.tax.toLocaleString('de-DE')}}</span></div>
                <div class="mb-2"><span class="poppins mr-2 text-secondary">NETO: </span><span class="poppins-light">{{"$ "+infoToPay.neto.toLocaleString('de-DE') }}</span></div>
            </div>
             <div slot="footer" class="dialog-footer">
                    <el-button type="info" @click="handleClosePay" size="small" effect="dark" class="poppins">Cancelar</el-button>
                    <el-button type="primary" @click.prevent="status(infoToPay.id)" size="small" :loading="response.payModal.charginButton" effect="dark" class="poppins">pagar</el-button>
             </div>               
        </el-dialog>
         <!---------------------------------------------------------- MODAL AUTHENTICATE -------------------------------------------------------------------------------------------------------->
         <el-dialog title="Autenticación" @open="viewModalPass" :visible.sync="iniModalVisible" :show-close="showClose" :close-on-click-modal="outModal" :close-on-press-escape="escModal" top="4rem" width="40%">
             <el-form :inline="false" :model="formAuth" ref="formAuth"  class="form-row">
                    <div class="col-lg-12 div col-sm-12">
                        <!-- <label for="" class="poppins"></label> -->
                        <el-form-item label="Digite su contraseña" prop="valPass" class="poppins">
                            <el-input type="password" v-model="formAuth.valPass" ></el-input>
                        </el-form-item>
                    </div>
             </el-form> 
             <div slot="footer" class="dialog-footer">
                <el-button type="primary" @click.prevent="ModalPass" size="small" :loading="response.authModal.charginButton" effect="dark" class="poppins">pagar</el-button>
             </div>    

         </el-dialog> 
    </div><!--end body-->  
    </div>
</template>
<script>
import { setInterval, setTimeout } from 'timers';
export default {
    data(){
        return {
            orders:[],
            bkshow:false,
            payFormVisible: false,
            showClose: false,
            outModal: false,
            escModal:false,
            iniModalVisible:false,
            pin:'',
            tableProps: 
            {
                border: false,
                stripe: true,
                defaultSort: {                
                order: 'descending'
                }
            },
            loading:false,
            filters:[{
                    filterFn: (row, filter) => {
                        return Object.keys(row).some(prop => {
                            if (prop === 'dniType') {
                               let m = filter.value.toLowerCase()                
                               let val = this.quitaacentos(filter.value)
                               let r = this.quitaacentos(row.dniType.toLowerCase())
                               return r.toLowerCase().indexOf(val) > -1
                            }
                            else if(prop === 'dni') {
                                let convert = row.dni.toString()
                                return convert.indexOf(filter.value) > -1
                                // console.log(row.dni)
                            }
                            else if(prop === 'name') {
                                let m = filter.value.toLowerCase()                
                                let val = this.quitaacentos(filter.value)
                                let r = this.quitaacentos(row.name.toLowerCase())
                                return r.toLowerCase().indexOf(val) > -1
                            }
                            else if(prop === 'monto') {
                                 let convert = row.monto.toString()
                                return convert.indexOf(filter.value) > -1
                            }
                            else if(prop === 'neto') {
                                 let convert = row.neto.toString()
                                return convert.indexOf(filter.value) > -1
                            }
                             else if(prop === 'deductions') {
                                 let convert = row.deductions.toString()
                                return convert.indexOf(filter.value) > -1
                            }
                            else if(prop === 'bank') {
                                 let m = filter.value.toLowerCase()                
                                let val = this.quitaacentos(filter.value)
                                let r = this.quitaacentos(row.bank.toLowerCase())
                                return r.toLowerCase().indexOf(val) > -1
                            }   
                        })
                     
                    }
                }],
            formAuth:{    
            valPass: ''
            },    
            infoToPay: {
                id: '',
                name: {
                    first: '',
                    last: ''
                },
                dni: '',
                monto: 0,
                tax: 0,
                deductions:0,
                neto: 0,
                account: '',
                bank:''
            },
            formTax: {
                tax: '',
                val: 0
            },
            listTax:[],
            response:{
                payModal:{
                    charginButton:false
                },
                authModal:{
                    charginButton:false
                }
            },
            nameUser: ''    
        }
    },
    mounted(){
        this.sessdata()
        setInterval(() => {
            this.verifyPin()
        },60000)
    },
    watch: {
        pin: function (code) {
            if(code)
            {
                setTimeout(() => {
                this.$confirm('Quedan 10 minutos para que expire tu PIN de seguridad', 'Warning', {
                confirmButtonText: 'OK',
                showCancelButton:false,
                type: 'warning',
                center: true
                }) 
                },3000000);
                 setTimeout(() => {
                    this.pin = ''
                    this.$message({
                        type: 'info',
                        message: 'El PIN ha caducado. Vuelva a diligenciarlo' 
                    }); 
                },3600000)
            }
        }
    },
    methods:{
        quitaacentos(s) {
            var r=s.toLowerCase();
            r = r.replace(new RegExp(/\s/g),"");
            r = r.replace(new RegExp(/[àáâãäå]/g),"a");
            r = r.replace(new RegExp(/[èéêë]/g),"e");
            r = r.replace(new RegExp(/[ìíîï]/g),"i");
            r = r.replace(new RegExp(/ñ/g),"n");                
            r = r.replace(new RegExp(/[òóôõö]/g),"o");
            r = r.replace(new RegExp(/[ùúûü]/g),"u");                                
            return r;
        },
        sessdata() {
            axios.post('/auth/sessdata', {fields:['securitypin']}).then((resp) => {
                let res = this.$myCryptor.decode(resp.data.data);
                this.pin = res[0]
                // this.nameUser = res[0].first+' <br> '+res[0].last
                // console.log(this.pin)
                this.viewModalPass()
                this.getOrdersPay()
            })
        },
        getOrdersPay() {
            axios.post('/pays/orderpay').then((resp) => {
                let data = this.$myCryptor.decode(resp.data.data)
                // let data = resp.data.data
                // console.log("d:",data)
                if(resp.data.status == 'success') {
                    let data_ = {
                        id :'',
                        dni:'',
                        dniType:'',
                        name:'',
                        lastname:'',
                        monto:'',
                        tax:'',
                        deductions:'',
                        deductionsDetails: [],
                        neto:'',
                        dataAccount:'',
                        accounthide:'',
                        bank:'',
                        idusr:''
                    }
                   for (let key = 0; key < data.length; key++) {
                       data_.id = data[key]._id
                       data_.dni = data[key].person.dni.dni
                        data_.dniType = data[key].person.dni.dniType
                        data_.name = data[key].person.name.first
                        data_.lastname = data[key].person.name.last
                        data_.monto = data[key].amount
                        data_.tax = data[key].tax
                        data_.deductions = data[key].deductions
                        for (let index = 0; index < data[key].deductionsDetails.length; index++) {
                            data_.deductionsDetails.push(data[key].deductionsDetails[index])    
                        } 
                        data_.neto = data[key].neto
                        if(data[key].person.bankAccount.account)
                        {
                            let bk = data[key].person.bankAccount.account.substring(data[key].person.bankAccount.account.length - 4)
                            data_.accounthide = "**********"+bk
                            data_.dataAccount = data[key].person.bankAccount.account
                        }
                        else
                           data_.dataAccount = 'No registra'
                        if(data[key].person.bankAccount.bank) 
                            data_.bank = data[key].person.bankAccount.bank
                        else
                            data_.bank = 'No registra'       
                        
                        // data_.bank = data[key].person.bankAccount.bank
                        data_.idusr = data[key].person._id

                        // if(data[key].person.accessData.status == true) { 
                            this.orders.push(data_) // idpay, status:expired
                        // }
                        // person.
                        data_ = {
                        id:'',
                        dni:'',
                        dniType:'',
                        name:'',
                        lastname:'',
                        monto:'',
                        tax:'',
                        deductions:'',
                        deductionsDetails:[],
                        neto:'',
                        dataAccount:'',
                        accounthide:'',
                        bank:'',
                        idusr:''
                        }                       
                   }      
                }

            })
            // console.log('lisorderpay:',this.orders)
        },
        verifyPin() {
            if(this.pin == ''){
                this.handleClosePay()
                this.$message({
                        type: 'info',
                        message: 'El PIN ha caducado. Vuelva a diligenciarlo' 
                    });  

            }

        },
        viewModalPass() {
            
            if(this.pin == '' || this.pin == null )
                this.iniModalVisible = true
            else
                this.iniModalVisible = false    
                
        },
        ModalPass() {
            let valpass = ''
            if(this.pin == '')
            {
                if(this.formAuth.valPass != '' || this.formAuth.valPass != null)
                {
                    let data = {password:this.formAuth.valPass}
                    let data_ = this.$myCryptor.encode(data)
                    axios.post('/auth/validatepass', {data:data_} ).then((resp) => {
                        valpass = resp.data.data
                        if(valpass == 'Authenticated') 
                        {
                            this.pin = this.$myCryptor.decode(resp.data.pin)
                            this.iniModalVisible = false
                            this.$alert('<p class="text-center">Asegure el siguiente PIN de seguridad <strong>'+this.pin+'</strong></p>', {
                            dangerouslyUseHTMLString: true,
                            showClose:false
                            });
                            
                        }
                        else
                        {
                            this.$message({
                            type: 'error',
                            message: 'contraseña incorrecta' 
                            });   
                        }
                    })
                }
                else
                {
                    this.$message({
                        type: 'warning',
                        message: 'Debe escribir su contraseña' 
                    });   
                }
            }
            else
            {
                this.$message({
                        type: 'info',
                        message: 'Ya se ha generado un PIN' 
                    });   
            }
            
        },
        formPay(obj) {
            this.payFormVisible = true
            this.infoToPay.id = obj.id
            this.infoToPay.name.first = obj.name
            this.infoToPay.name.last = obj.lastname
            this.infoToPay.dni = obj.dni
            this.infoToPay.monto = obj.monto
            this.infoToPay.neto = obj.neto
            this.infoToPay.account = obj.dataAccount
            this.infoToPay.bank = obj.bank
            for (let index = 0; index < obj.deductionsDetails.length; index++) {
                this.listTax.push(obj.deductionsDetails[index])    
            }
            this.infoToPay.tax = obj.deductions
            this.infoToPay.neto = obj.neto
        },
        handleClosePay() {
            this.infoToPay.id = ''
            this.infoToPay.name.first = ''
            this.infoToPay.name.last = ''
            this.infoToPay.dni = ''
            this.infoToPay.monto = 0
            this.infoToPay.tax = 0
            this.infoToPay.neto = 0
            this.infoToPay.account = ''
            this.infoToPay.bank = ''
            this.listTax = []
            this.formTax.tax = ''
            this.formTax.val = 0
            this.payFormVisible = false
            this.orders = []
            this.getOrdersPay()
        },
        addTax(monto,id) {
            
            if(this.formTax.tax && this.formTax.val)
            {
                let tax = this.formTax.tax
                let val = this.formTax.val
                let valtax = monto * (val/100)
                // this.infoToPay.tax += valtax
                // this.infoToPay.neto -= valtax
                let taxtl = this.infoToPay.tax + valtax
                let setneto = this.infoToPay.neto - valtax 
                let info = {
                    idop:id,
                    value:taxtl,
                    neto:setneto,
                    data:{
                        concept:this.formTax.tax,
                        percent:this.formTax.val
                    }
                }
               
                let info_op = this.$myCryptor.encode(info)
                axios.post('/pays/insertdeductions',{data:info_op}).then((resp) => {
                    if(resp.data.status == 'success')
                    {   
                        let dt = this.$myCryptor.decode(resp.data.data)
                        this.infoToPay.tax += valtax
                        this.infoToPay.neto -= valtax 
                        this.listTax = []
                        for (let index = 0; index < dt.length; index++) {  
                            this.listTax.push(dt[index])
                        }                      
                    }
                    else {
                        this.$message({
                            type: 'error',
                            message: 'No se pudo agregar el impuesto' 
                            });   
                    }    
                })
                this.formTax.tax = ''
                this.formTax.val = ''
            }
            else
            {
                this.$message({
                message: 'Datos vacios o ingresados de forma incorrecta',
                type: 'warning'
                });
            }

        },
        deleteTax(pos,list,id) {
            let substTax = this.infoToPay.monto * (list[pos].percent/100)
            let idTax = list[pos]._id
            let neto = this.infoToPay.neto + substTax
            let tax = this.infoToPay.tax - substTax
            // this.infoToPay.tax -= substTax
            // this.infoToPay.neto += substTax
            let delDeduc = {
                neto: neto,
                tax: tax,
                idPos: idTax,
                idop : id
            } 
            let dataDeduc = this.$myCryptor.encode(delDeduc)
            axios.post('/pays/removeDeduction',{data:dataDeduc}).then((resp) => {
               let data_ = this.$myCryptor.decode(resp.data.data)
               if(resp.data.status == 'success')
               {
                //    this.infoToPay.tax = data_.deductions
                //    this.infoToPay.neto = data_.neto
                   this.infoToPay.tax -= substTax
                    this.infoToPay.neto += substTax
                   this.listTax = []
                   for (let index = 0; index < data_.deductionsDetails.length; index++) {
                    this.listTax.push(data_.deductionsDetails[index])    
                   }
               }
               else
               {
                   this.$message({
                        type: 'error',
                        message: 'No se pudo completar la acción' 
                        });
                   this.payFormVisible = false            
               } 
            })
        },
        status(id){
            console.log(id)
            let pay = this.$prompt('Digite el PIN de seguridad', 'Validar Pago', {
                confirmButtonText: 'OK',
                cancelButtonText: 'Cancelar',
                inputType:'password'
                }).then(({value}) => {

                    if(value != null || value != '')
                    {
                        // console.log('payout')
                        if(this.pin != '')
                        {    
                            if(value == this.pin)
                            {
                                let infopay = {
                                idop: id,
                                neto: this.infoToPay.neto,
                                deductions:this.infoToPay.tax
                                }
                                let datapay = this.$myCryptor.encode(infopay)
                                axios.post('/pays/payout', {data:datapay}).then((resp)=>{
                                // console.log('po',resp.data.data)
                                if(resp.data.status == "success"){
                                    this.$message({
                                    type: 'success',
                                    message: 'Se ha efectuado el pago exitosamente' 
                                    });
                                    this.payFormVisible = false
                                    this.orders = []
                                    this.getOrdersPay()
                                }else{
                                    this.$message({
                                        type: 'error',
                                        message: 'Error! no se pudo completar el pago' 
                                    });
                                    // this.payFormVisible = false 
                                }
                                })
                            }
                            else
                            {
                              this.$message({
                                    type: 'error',
                                    message: 'El PIN de seguridad no es válido' 
                                });    
                            }
                        }
                        else
                        {
                            this.$message({
                                    type: 'warning',
                                    message: 'El PIN ha caducado' 
                                }); 
                        }

                        
                    }
                    else{
                        this.$message({
                            type: 'warning',
                            message: 'Debe digitar el PIN de seguridad' 
                        }); 
                    }
                    
                
                }).catch(() => {
                this.$message({
                    type: 'info',
                    message: 'Acción cancelada'
                });       
                });
        }}
}
</script>

