<template>      
    <div class="container my-1 p-0">
        <h4 class="text-center poppins text-dark font-weight-bold text-uppercase">Historial de puntos</h4> 
        <hr class="bg-dark-blue">
        <div class="row d-flex justify-content-center">
            <el-card shadow="hover" class="col-lg-4 col-sm-12 ">
                <!-- <div class="col-lg-12 col-md-4"> -->
                     <p class="poppins text-center text-dark">PUNTOS ACTUALES</p>
                    <div class="w-100 d-flex justify-content-center align-items-center mb-3">
                    <div class="points-wrapper position-relative">
                            <div class="points-label">
                                <span>{{infoPoints.totalPoints}}</span>
                            </div>
                            <el-progress type="circle" :width="100" :stroke-width="5" :text-inside="false" :show-text="false" :percentage="percent"></el-progress>
                        </div>
                    </div>
                    <el-divider></el-divider>
                    <div class="mt-1">
                        <div>   
                            <span class="poppins text-gray"><img src="/src/points-left.png" alt="puntos izquierda" class="mr-1" width="8%"><el-divider direction="vertical"></el-divider>Puntos a la izquierda</span> <el-tag class="float-right poppins">{{infoPoints.pointsLeft}}</el-tag>
                        </div>
                        <el-divider></el-divider>
                        <div>
                            <span class="poppins text-gray"><img src="/src/points-right.png" alt="puntos derecha" class="mr-1" width="8%"><el-divider direction="vertical"></el-divider>Puntos a la derecha</span> <el-tag class="float-right poppins">{{infoPoints.pointsRight}}</el-tag>      
                        </div>
                        <!-- <el-divider></el-divider>
                        <div>
                            <span class="poppins text-gray"><img src="/src/own-points.png" alt="puntos propios" class="mr-1" width="8%"><el-divider direction="vertical"></el-divider>Puntos propios</span> <el-tag class="float-right poppins">{{infoPoints.ownPoints}}</el-tag>      
                        </div> -->
                    </div>
                <!-- </div> -->
            </el-card>
        <el-card shadow="hover" class="col-lg-7 col-sm-12 ml-2">
        <!-- <div class="row mt-1"> -->
            <!-- <div class="col-lg-12 col-md-4 pl-2"> -->
                <p class="poppins text-center">PUNTOS POR COMPRAS</p>
                <el-divider></el-divider>
                <el-date-picker
                class="w-100 mb-2"
                v-model="dateRange"
                type="daterange"
                align="center"
                unlink-panels
                range-separator="-"
                start-placeholder="Desde"
                end-placeholder="Hasta"
                :picker-options="pickerOptions"
                :default-time="['00:00:00', '23:59:59']"
                >
                </el-date-picker>   
                <data-tables v-loading.body="loading" :table-props="tableProps" :data="dataPP" :pagination-props="{ pageSizes: [10, 20, 30, 40, 50] }" >
                    <el-table-column prop="reference" label="ID compra" header-align="center" align="center">
                    </el-table-column>
                    <el-table-column prop="points" label="Puntos" header-align="center" align="center">
                    </el-table-column>
                    <el-table-column prop="date" label="Fecha" header-align="center" align="center">
                        <template slot-scope="scope">
                            <span>{{scope.row.date.split('T')[0]}}</span>
                        </template>
                    </el-table-column>
                </data-tables>
            <!-- </div> -->
        </el-card>    
            <!-- <div class="col-lg-12 col-md-4">
                 <el-card shadow="hover" class="box-card text-center">
                    <div class="box-img">
                                <img src="/src/points-left.png">
                                <div>
                                    <el-divider></el-divider>
                                    <h5 class="poppins-light mt-0 mb-0">Puntos lado izquierdo</h5> 
                                    <el-tag type="warning">{{infoPoints.pointsLeft}}</el-tag>                                   
                                </div>
                            </div>  
                </el-card>
            </div>
            <div class="col-lg-12 col-md-4">
                 <el-card shadow="hover" class="box-card text-center">
                    <div class="box-img">
                                <img src="/src/points-right.png">
                                <div>
                                    <el-divider></el-divider>
                                    <h5 class="poppins-light mt-0 mb-0">Puntos lado derecho</h5> 
                                    <el-tag type="warning">{{infoPoints.pointsRight}}</el-tag>                                   
                                </div>
                            </div>  
                </el-card>
            </div>
            <div class="col-lg-12 col-md-4">
                 <el-card shadow="hover" class="box-card text-center">
                    <div class="box-img">
                                <img src="/src/points-right.png">
                                <div>
                                    <el-divider></el-divider>
                                    <h5 class="poppins-light mt-0 mb-0">Puntos lado derecho</h5> 
                                    <el-tag type="warning">{{infoPoints.pointsRight}}</el-tag>                                   
                                </div>
                            </div>  
                </el-card>
            </div> -->
        </div>
        </div>
        <!-- <el-date-picker
            class="w-100 mb-2"
            v-model="value2"
            type="daterange"
            align="center"
            unlink-panels
            range-separator="-"
            start-placeholder="Empieza"
            end-placeholder="Termina"
            :picker-options="pickerOptions">
        </el-date-picker>        
        <el-card v-for="o in 4" :key="o" class="box-card mb-2" shadow="hover">
            <div class="d-flex justify-content-between align-items-center">
               <div class="mr-2">
                   <i class="el-icon-date"></i> 00-00-0000
               </div>
               <el-tag>123.123</el-tag>
            </div>
        </el-card> -->
    <!-- </div>     -->
</template>
<style>
     .box-card {
    width: 90%;    
    max-width: 400px;
    cursor: pointer;
}

.box-img > img
{
  width: 100px;
  opacity: .8;
}
  
.box-img > div > h5
{
  color: rgba(105, 105, 102, 0.88);
  font-size: 18px;
}

@media (max-width: 768px)
{
  .box-card {
      width: 50%;
  }

  .image {
    width: 70% !important;
    /* display: block; */
    margin-bottom: 10px;
}

}

@media (max-width: 650px)
{
  .box-card {
      width: 90%;
  }
}
.text-gray {
    color:#909399;
}
</style>
<script>
export default {
    data()
    {
        return{
            percent: 0,
            dateRange: '',
            pickerOptions: {
            shortcuts: [{
                text: 'Ultima semana',
                onClick(picker) {
                const end = new Date();
                const start = new Date();
                start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                picker.$emit('pick', [start, end]);
                }
            }, {
                text: 'Ultimo mes',
                onClick(picker) {
                const end = new Date();
                const start = new Date();
                start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                picker.$emit('pick', [start, end]);
                }
            }, {
                text: 'Ultimos 3 meses',
                onClick(picker) {
                const end = new Date();
                const start = new Date();
                start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                picker.$emit('pick', [start, end]);
                }
            }]
            },
            infoPoints:{
                pointsLeft:'0',
                pointsRight:'0',
                // ownPoints:'',
                totalPoints:'0'
            },
            purchases:[],
            dataPP:[],
            loading:false,
            tableProps: 
            {
                border: false,
                stripe: true,
                defaultSort: {                
                order: 'descending'
                }
            },

        }
    },
    watch: { 
        'dateRange': function (newVal) { 
            this.dataPP = []
            if(newVal != null){
                let startDate = Date.parse(newVal[0])
                let endDate = Date.parse(newVal[1])                
                for (const key in this.purchases) {
                    let rangeDate = Date.parse(this.purchases[key].date)
                    if(rangeDate >= startDate && rangeDate <= endDate) {
                              
                        this.dataPP.push(this.purchases[key])
                    
                    }                  
                } 
                                              
            } else {
                this.dataPP = this.purchases
            }
        }
    },
    mounted()
    {
        setTimeout(() => 
        {
            this.percent = 100    
        }, 500);
        this.sessdata()
        this.dateRange = null
    },
    methods:{
        sessdata() {
            axios.post('/auth/sessdata', {fields: ['_id']}).then(resp => 
            {                     
                let res = this.$myCryptor.decode(resp.data.data);                                                        
                let id = res[0]
                this.getPoints(id)
                this.getPurchasesPoints(id)
                
            })
        },
        getPoints(id){
            let idpt = this.$myCryptor.encode(id)
            axios.post('/auth/getpoints',{data:idpt}).then((resp) => {
                if(resp.data.status == 'success')
                {
                    let info = this.$myCryptor.decode(resp.data.data) 
                    this.infoPoints.pointsLeft = info.tptLeft
                    this.infoPoints.pointsRight = info.tptRight
                    this.infoPoints.ownPoints = info.ownP
                    this.infoPoints.totalPoints = info.tptLeft + info.tptRight

                }
                else
                {
                    this.infoPoints.pointsLeft = 'Err'
                    this.infoPoints.pointsRight = 'Err'
                    this.infoPoints.ownPoints = 'Err'
                    this.infoPoints.totalPoints = 'Err'
                }

                // this.verifyPoints()
            })
        },
        getPurchasesPoints(id) {
            let idpt = this.$myCryptor.encode(id)
            axios.post('/auth/purchasespoints',{data:idpt}).then((resp) => {
                    if(resp.data.status == 'success')
                    {
                          let obj = {
                              reference:'',
                              points:'',
                              date: null
                          }
                          let infoPurchases = this.$myCryptor.decode(resp.data.data)
                          for (let index = 0; index < infoPurchases.length; index++) {
                                obj.reference = infoPurchases[index].paymentRef.substring(infoPurchases[index].paymentRef.length - 7)
                                obj.points = infoPurchases[index].totalPoints
                                obj.date = infoPurchases[index].payDate
                                if(obj.date != null)
                                    this.purchases.push(obj)
                                obj = {
                                    reference:'',
                                    points:'',
                                    date:null
                                }      
                          }
                    }
                    else
                    {
                       //poner message 
                    }
            })
        },
        verifyPoints() {
            let cont = 0
            for (const key in this.infoPoints) {
                if (this.infoPoints[key]) {
                   cont++
                    
                }
            }
            if(cont < 3)
            {
                this.infoPoints.pointsLeft = '0'
                this.infoPoints.pointsRight = '0'
                this.infoPoints.ownPoints = '0'
                this.infoPoints.totalPoints = '0'

            }
        }
    }
}
</script>