<template>
    <div class="container my-1 p-0">
        <div class="card">
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-1">
                    <img src="/src/textures/logos/logo.png" alt="" class="img-fluid" width="80px" height="80px" style="margin-bottom:10px;"> 
                </div>
                <div class="col-11 pb-2 mb-2 ml-0 pl-0" style="padding-top:2.4em;">
                     
                    <p class="poppins-bold">asd asdas asdasd</p> 
                </div>
                <!-- <div class="col-12 row mb-2 ">
                    <span class="col-5"></span>
                    <span class="border border-secondary bg-light text-secondary text-center col-1 poppins p-1">Servicio</span><span class="border border-secondary text-center col-2 poppins border-left-0 border-right-0 p-1">{{pats.ser}}</span>
                    <span class="border border-secondary bg-light text-secondary text-center col-2 poppins p-1">Recibe</span><span class="border border-secondary text-center col-2 poppins border-left-0 p-1">{{pats.nsm}}</span>
                </div> -->
                <div class="col-12 ml-3">
                    <p class="text-secondary poppins" style="font-size:17px">Información de los pagos</p>
                </div>
                 <div class="col-6 row ml-3">
                    <span class="border border-secondary text-secondary col-3 poppins p-1 border-right-0 border-bottom-0" style="background-color: #f8f9fa!important;">Tipo ID</span><span class="border border-secondary col-9 poppins p-1 border-bottom-0 border-right-0">asd</span>
                </div>
                <div class="col-6 row">
                    <span class="border border-secondary text-secondary col-3 poppins p-1 border-bottom-0 border-right-0" style="background-color: #f8f9fa!important;">N° ID</span><span class="border border-secondary col-9 poppins p-1 border-bottom-0">asd</span>
                </div>
                <div class="col-6 row ml-3">
                    <span class="border border-secondary text-secondary col-3 poppins p-1 border-right-0 border-bottom-0" style="background-color: #f8f9fa!important;">Nombres</span><span class="border border-secondary col-9 poppins p-1 border-bottom-0 border-right-0">asd</span>
                </div>
                <div class="col-6 row">
                    <span class="border border-secondary text-secondary col-3 poppins p-1 border-bottom-0 border-right-0" style="background-color: #f8f9fa!important;">Apellidos</span><span class="border border-secondary col-9 poppins p-1 border-bottom-0">asd</span>
                </div>
                <div class="col-3 row ml-3">
                    <span class="border border-secondary text-secondary col-9 poppins p-1 border-right-0" style="background-color: #f8f9fa!important;">Género</span><span class="border border-secondary col-3 poppins p-1 border-right-0">asd</span>
                </div>
                <div class="col-3 row pr-0 mr-0">
                    <span class="border border-secondary text-secondary col-9 poppins p-1 border-right-0" style="background-color: #f8f9fa!important;">RH</span><span class="border border-secondary col-3 poppins p-1 border-right-0">asd</span>
                </div>
                <div class="col-6 row pr-0 mr-0">
                    <span class="border border-secondary text-secondary col-4 poppins border-right-0" style="background-color: #f8f9fa!important;">EPS</span><span class="border border-secondary col-8 poppins">asd</span>
                </div>
                <div class="col-6 row ml-3">
                    <span class="border border-secondary text-secondary col-3 p-1 poppins border-top-0 border-right-0" style="background-color: #f8f9fa!important;">Departamento</span><span class="border border-secondary col-9 p-1 poppins border-top-0 border-right-0">asd</span>
                </div>
                <div class="col-6 row">
                    <span class="border border-secondary text-secondary col-3 p-1 poppins border-top-0 border-right-0" style="background-color: #f8f9fa!important;">Dirección</span><span class="border border-secondary col-9 p-1 poppins border-top-0">asd</span>
                </div>
            </div>
            <div class="mt-4 pt-3 col-12 table-responsive-lg">
                    <!-- <div class="card-header pb-0 mb-0 border border-secondary"> -->
                        <p class="text-center font-weight-bold poppins">DISPENSACIÓN</p>
                    <!-- </div> -->
                    <!-- <div class="card-body border border-secondary"> -->
                        <table class=" mt-3 table table-bordered table-sm poppins border border-secondary">
                            <!-- <caption class="text-center text-secondary">CITAS</caption> -->
                                <thead class="text-center bg-light">
                                    <tr>
                                        <th>Consecutivo</th>
                                        <th>Nombre</th>
                                        <th>Lote</th>
                                        <th>Fecha de Vencimiento</th>
                                        <th>Cantidad</th>
                                    </tr>
                                </thead>

                                <tbody class="text-center p-0">
                                    <tr v-for="(item, index) in 10" :key="index">
                                         <td>{{index}}</td>
                                         <td>{{index}}</td>
                                         <td>{{index}}</td>
                                         <td>{{index}}</td>
                                         <td>{{index}}</td>
                                    </tr>
                                </tbody>
                        </table>
                    <!-- </div> -->
                    <br>
                     <div class="col-6 row">
                    <span class="bg-light text-secondary poppins">Realizado por: </span><span class=" poppins pl-2">{{nameUser}}</span>
                    </div>
                </div>
        </div>
    </div> 
    </div>
</template>