<template>
<div class="container my-1 p-0">
        <div class="row mx-0 px-0 mt-2 mb-3">
           <div class="col-lg-6 col-md-12 px-1 col-sm-12">
               <el-card shadow="hover" class="mb-3">
                    <div slot="header" class="clearfix text-center">
                        <span class="poppins-bold text-secondary">Actualizar información bancaria <i class="el-icon-bank-card"></i></span>                        
                    </div>
                    <form class="form-row">
                        <div class="form-group col-lg-12 mb-2 px-1">
                            <label for="name" class="poppins mb-0">N° de cuenta bancaria:</label>
                            <input type="text" class="form-control" name="num_bank" v-model="bankAccount.data.account">
                        </div>
                        <div class="form-group col-lg-12 mb-2 px-1">
                            <label for="name" class="poppins mb-0">Banco:</label>
                            <el-select  v-model="bankAccount.data.bank" class="col-lg-12 pl-0 mx-0 px-0" placeholder="Selecione un banco" name="bank">
                                <el-option v-for="(name,index) in bank" :key="index" :label="name" :value="name"></el-option>
                            </el-select>
                        </div>                       
                            <div class="col-lg-12 mt-2 item-center text-center">            
                            <el-button type="success" size="small" :loading="responsebank.charginButton" effect="dark" class="bg-btn poppins" @click.prevent="val_input_bank">Actualizar</el-button>              
                        </div>                                                             
                    </form>
                </el-card>              
                <!-- Modificar Contraseña-->
                <el-card shadow="hover" class="mb-3">
                    <div slot="header" class="clearfix text-center">
                        <span class="poppins-bold text-secondary">Cambiar Contraseña <i class="el-icon-key"></i></span>                        
                    </div>
                    <form class="form-row">
                        <div class="form-group col-lg-12 mb-2 pb-0">
                            <label for="name" class="poppins mb-0">Digite la contraseña actual:</label>
                            <el-input name="pass" v-model="dataPass.pass" show-password></el-input>                                
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="newnamecat" class="poppins mb-0">Nueva Contraseña:</label>
                            <el-input name="pass" clearable v-model="dataPass.newPass" show-password></el-input>                                
                            <div class="poppins" :class="{'d-block invalid-feedback': response.validation_passnew.status, 'd-block valid-feedback': !response.validation_passnew.status}">
                                {{ response.validation_passnew.text }}
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="newnamecat" class="poppins mb-0">Confirmar Contraseña:</label>
                            <el-input name="pass" clearable v-model="dataPass.passval" show-password></el-input>                                
                        </div>
                        <div class="col-lg-12 item-center text-center">            
                            <el-button type="success" size="small" :loading="response.charginButton" effect="dark" class="bg-btn poppins" @click.prevent="val_input_pass">Actualizar</el-button>              
                        </div> 
                    </form>
                </el-card>                
           </div>
           <div class="col-lg-6 px-1 col-md-12 col-sm-12" id="infoperson">
                <el-card shadow="hover" class="mb-3">
                    <div slot="header" class="clearfix text-center">
                        <span class="poppins-bold text-secondary">Información personal <i class="el-icon-user"></i></span>                        
                    </div>
                    <div class="body-info">
                        <p class="poppins-light mb-0" id="name"><span class="poppins">Nombre:</span> {{ dataIA.name.first+" "+dataIA.name.last }}</p>
                        <hr class="my-2">
                        <p class="poppins-light mb-0"><span class="poppins"> {{dataIA.dni.dniType}}:</span> {{dataIA.dni.dni}}</p>
                        <hr class="my-2">
                        <p class="poppins-light mb-0"><span class="poppins">Dirección:</span> {{dataIA.address }}</p>
                        <hr class="my-2">
                        <p class="poppins-light mb-0 d-flex justify-content-between align-items-center">
                            <span>
                                <span class="poppins">Teléfono:</span> 
                                <span v-if="editphone == false">{{dataIA.phone}}</span>
                            </span>
                            <el-tooltip class="item" effect="dark" content="Editar" placement="top">
                                <el-button v-if="editphone == false" type="info" icon="el-icon-edit" circle size="mini" @click="editphone =! editphone; data.phone = dataIA.phone"></el-button>
                            </el-tooltip>
                        </p>                         
                        <div v-if="editphone == true">                            
                            <div class="position-relative focus-in-contract-bck">
                                <el-input
                                placeholder="Teléfono"
                                v-model="data.phone"
                                clearable size="mini" v-if="editphone==true" class="mr-1 w-100">
                                </el-input>                           
                                <div class="cont-upt">
                                    <el-button v-if="editphone == true" type="primary" icon="el-icon-check" circle size="mini" @click="valPhone"></el-button>
                                    <el-button v-if="editphone == true" type="danger" icon="el-icon-close" class="mx-0" circle size="mini" @click="editphone =! editphone"></el-button>
                                </div>
                            </div>
                        </div>  
                        <hr class="my-2">
                        <p class="poppins-light mb-0 d-flex justify-content-between align-items-center">
                            <span>
                                <span class="poppins">Correo eléctronico:</span> 
                                <span v-if="editmail == false">{{dataIA.mail}}</span> 
                            </span>
                            <el-tooltip class="item" effect="dark" content="Editar" placement="top">
                                <el-button v-if="editmail == false" type="info" icon="el-icon-edit" class="d-inline" circle size="mini" @click="editmail=!editmail;data.mail = dataIA.mail"></el-button>
                            </el-tooltip>
                        </p>
                        <div v-if="editmail == true">
                            <div class="position-relative focus-in-contract-bck">
                                <el-input
                                placeholder="correo eléctronico"
                                v-model="data.mail"
                                clearable size="mini" v-if="editmail==true" class="mr-1">
                                </el-input>
                                <div class="cont-upt">
                                    <el-button v-if="editmail == true" type="primary" icon="el-icon-check" circle size="mini" @click="valEmail"></el-button>
                                    <el-button v-if="editmail == true" type="danger" icon="el-icon-close" class="mx-0" circle size="mini" @click="editmail=!editmail"></el-button>
                                </div>
                            </div>                            
                        </div>  
                        <hr class="my-2">
                        <p class="poppins-light mb-0"><span class="poppins">N° de hijos:</span> {{dataIA.sonsNumber}}</p>
                        <hr class="my-2">
                        <p class="poppins-light mb-0"><span class="poppins">N° de directos:</span> {{dataIA.directSons}}</p>
                        <hr class="my-2" v-if="dataIA.pattern != ''">
                        <p class="poppins-light mb-0" v-if="dataIA.pattern != ''"><span class="poppins">Padre directo:</span> <span>{{dataIA.pattern}}</span></p>
                        <hr class="my-2" v-if="dataIA.pattern != ''">
                        <p class="poppins-light mb-0" v-if="dataIA.realPattern != ''"><span class="poppins">Padre real:</span> <span>{{dataIA.realPattern}}</span></p>                    
                        <el-divider content-position="center" v-if="bank_Data.bank != '' && bank_Data.account != ''">Información bancaria</el-divider>
                         <p class="poppins-light mb-0" v-if="bank_Data.bank != '' && bank_Data.account != ''"> <span class="poppins">N° de cuenta:</span> {{bank_Data.account}}</p>
                         <p class="poppins-light mb-0" v-if="bank_Data.bank != '' && bank_Data.account != ''"> <span class="poppins">Banco:</span> {{bank_Data.bank}}</p>
                    </div>
                </el-card>  
               <!-- <div class="card border-secondary mt-0 mb-4">
                <div class="card-header"><h4 style="color: #AFB3B2;">Información personal</h4></div>
                <div class="card-body p-2">
                   <p class="poppins-light" id="name"><span class="poppins">Nombre:</span> {{ dataIA.name.first+" "+dataIA.name.last }}</p>
                   <p class="poppins-light"><span class="poppins"> {{dataIA.dni.dniType}}:</span> {{dataIA.dni.dni}}</p>
                   <p class="poppins-light"><span class="poppins">Dirección:</span> {{dataIA.address }}</p>
                   <p class="poppins-light"><span class="poppins">Teléfono:</span> <span v-if="editphone == false">{{dataIA.phone}}</span> <el-button v-if="editphone == false" type="info" icon="el-icon-edit" circle size="mini" @click="editphone=!editphone;data.phone = dataIA.phone"></el-button>
                   <el-row><el-col :span="10"><el-input
                    placeholder="Teléfono"
                    v-model="data.phone"
                    clearable size="mini" v-if="editphone==true" class="mr-1">
                    </el-input></el-col><el-button v-if="editphone == true" type="primary" icon="el-icon-check" circle size="mini" @click="valPhone"></el-button><el-button v-if="editphone == true" type="danger" icon="el-icon-close" circle size="mini" @click="editphone=!editphone"></el-button></el-row></p>
                   <p class="poppins-light"><span class="poppins">Correo eléctronico:</span> <span v-if="editmail == false">{{dataIA.mail}}</span> <el-button v-if="editmail == false" type="info" icon="el-icon-edit" class="d-inline" circle size="mini" @click="editmail=!editmail;data.mail = dataIA.mail"></el-button>
                   <el-row><el-col :span="10"><el-input
                    placeholder="correo eléctronico"
                    v-model="data.mail"
                    clearable size="mini" v-if="editmail==true" class="mr-1">
                    </el-input></el-col><el-button v-if="editmail == true" type="primary" icon="el-icon-check" circle size="mini" @click="valEmail"></el-button><el-button v-if="editmail == true" type="danger" icon="el-icon-close" circle size="mini" @click="editmail=!editmail"></el-button></el-row></p>
                    <p class="poppins-light"><span class="poppins">N° de hijos:</span> {{dataIA.sonsNumber}}</p>
                    <p class="poppins-light" v-if="dataIA.pattern != ''"><span class="poppins">Padre directo:</span> <span>{{dataIA.pattern}}</span></p>
                    <p class="poppins-light" v-if="dataIA.realPattern != ''"><span class="poppins">Padre real:</span> <span>{{dataIA.realPattern}}</span></p>
                </div>
                </div> -->
           </div>
     </div>
</div>
</template>
<script>
export default {
    data(){
        return {
            dataIA:{
                name:{
                    first:'',
                    last:''
                },
                gender:'',
                address:'',
                dni:{
                    dniType:'',
                    dni:''
                },
                sonsNumber: 0,
                directSons: 0,
                mail:'',
                phone:'',
                pattern:'',
                realPattern:'',
                accessData:{
                    userCode: '',
                    password: '',
                    userType:''
                },                
            },
            bank_Data: {
                account: '',
                bank: ''
            },
            bank:['Colpatria','AV villas','Caja Social','De Occidente','Popular','Bancolombia','BBVA','Davivienda','Citi Colombia','GNB Sudameris'],
            bankAccount:{
                data:{
                    account:'',
                    bank:''
                },
                id:''  
            },
            dataPass:{
                queryParams: {_id:''},
                pass:'',
                newPass:'',
                passval:''
            },
            response:{
                charginButton:false,
                validation_passnew:{
                    status: false,
                    text: ''
                }
            },
            responsebank:{
                charginButton:false
            },
            editphone:false,
            editmail:false,
            data:{
                id: '',
                phone: '',
                mail:''
                },            

        }
    },
    mounted()
    {
        $('body').css(
        {
          background: 'none'  
        })
        $('body .main-app > div').addClass('white-bg').css({background: 'white'})        
        $('.particles-js-canvas-el').addClass('d-none')
     this.sessdata()
    },
    methods:{
        sessdata() {
            axios.post('auth/sessdata',{fields: ['name','sonsNumber','_id','address','dni','phone','mail','pattern','realPattern','BankData', 'directSons']}).then((resp)=>{
                let res = this.$myCryptor.decode(resp.data.data);
                this.bankAccount.id = res[2]//considerar encriptar
                this.dataPass.queryParams._id = res[2]
                this.data.id = res[2]
                this.dataIA.name.first = res[0].first
                this.dataIA.name.last = res[0].last
                this.dataIA.sonsNumber = res[1]
                this.dataIA.address = res[3].addInfo+", "+res[3].city+", "+res[3].country
                this.dataIA.dni.dni = res[4].dni
                this.dataIA.dni.dniType = res[4].dniType
                this.dataIA.phone = res[5]
                this.dataIA.mail = res[6]
                this.bank_Data.account = res[9].bkAc
                this.bank_Data.bank = res[9].bank
                if(res[7] != null)  
                    this.dataIA.pattern = res[7].name.first+" "+res[7].name.last
                if(res[8] != null)
                    this.dataIA.realPattern = res[8].name.first+" "+res[8].name.last
                this.dataIA.directSons = res[10]
            })
            // let name = this.dataIA.name.first
        }, 
        val_input_bank(){
            let ib = 0
            let infobank = this.bankAccount.data
            for (const key in infobank) {
                if(infobank[key] == '')
                {
                    ib++
                }
            }
            if(ib > 0){
               this.$swal.fire({
                    title: 'Debe llenar los campos obligatorios',
                    type: 'warning',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar'
                    })
            }
            else {
                let accb = infobank.account
                if(infobank.account.length >= 7 && this.setup_num(accb))
                {
                    this.responsebank.charginButton = true
                    this.updateBankAccount()
                }
                else{
                   this.$swal.fire({
                    title: 'Número de cuenta inválido',
                    type: 'warning',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar'
                    }) 
                }
            }
        },
        val_input_pass(){
            this.response.validation_passnew = {
                status: false,
                text: ''
            }
            this.response.charginButton = true
            let datapass = this.dataPass 
            let validation_np = this.response.validation_passnew
            if(datapass.pass == '' || datapass.newPass == '' || datapass.passval == '')
            {
                this.$swal.fire({
                    title: 'Debe llenar todos los campos',
                    type: 'error',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar' 
                })
                this.response.charginButton = false
                return false
            }
            if(datapass.newPass.length < 8) 
            {
                validation_np.text = 'La contraseña debe tener mínimo 8 carácteres'
                validation_np.status = true
                this.response.charginButton = false
                return false
            }
            if(datapass.newPass == '') 
            {
                validation_np.text = ''
                validation_np.status = null
                this.response.charginButton = false
                return null
            }
            if(datapass.newPass != datapass.passval)
            {
                this.$swal.fire({
                    title: 'Las contraseñas no coinciden',
                    type: 'error',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar' 
                })
                this.response.charginButton = false
                validation_np.status = null
                validation_np.text = ''

                return false
            }
            if(datapass.pass != '' && datapass.newPass != '' && datapass.passval != '' && validation_np.status == false)
            {
                this.updatePass()
            }  
        },
        validEmail(email) {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        },
        valEmail() {
            let mail=this.data.mail
            if(mail != '' && !this.validEmail(mail) ){
               this.$swal.fire({
                   title: 'La dirección de correo eléctronico ingresada es inválida',
                    type: 'warning',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar'
               })
            }
            else
            {
                this.uniqueMail()
            }
            if(mail == ''){
               this.$swal.fire({
                   title: 'Debe ingresar una dirección de correo eléctronico',
                    type: 'warning',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar'
               })
            }            
        },
        uniqueMail() {
            axios.post('/auth/getPersonByParams', {queryParams :{'mail': this.data.mail}}).then((res) =>
            {
                if(res.data.status != 'failed')
                {
                    this.$swal.fire({
                   title: 'La dirección de correo eléctronico ingresada ya se encuentra registrada',
                    type: 'warning',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar'
                    })
                }else{
                    this.updateMail()
                }        
            })
        },
        setup_num(n){
            var num = /^(0|[0-9+/][0-9]*)$/.test(n)
              return num
        },
        valPhone()
        {
            let n = this.data.phone
            if(n != '' && (!this.setup_num(n) || n.length < 7 ))
            {
                this.$swal.fire({
                   title: 'Número telefónico inválido. Debe contener solo números o "+" indicativo y mínimo 7 digitos',
                    type: 'warning',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar'
                    })
            }else if(n != '' && this.setup_num(n) && n.length > 7){
                this.updatePhone()
            }
            else if(n == '')
            {
                 this.$swal.fire({
                   title: 'Debe ingresar un número telefónico',
                    type: 'warning',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar'
                    })
            }  
        },
        updateBankAccount() {
            let dataub = this.$myCryptor.encode(this.bankAccount)
            axios.post('/auth/update/bank-account',{data:dataub}).then((resp)=> {
                let data = this.$myCryptor.decode(resp.data.data)
                if(resp.data.status == 'success'){
                    this.$swal.fire({
                        title: 'Su información bancaria ha sido actualizada con exito!',
                        text: 'Los cambios se verán reflejados la próxima vez que inicie sesión',
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonColor: '#87ED6F',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                    })
                    this.bankAccount.data.account = '',
                    this.bankAccount.data.bank = '',
                    this.response.charginButton = false
                    this.responsebank.charginButton = false
                }
                else{
                    this.$swal.fire({
                    title: 'Ups!. Ocurrio un error inesperado. Intentelo más tarde.',
                    type: 'error',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar'
                    })
                }
            })
        },
        updatePass() {
            let data = this.dataPass
            let datapass = this.$myCryptor.encode(data)
            axios.post('/auth/update/userPassword',{pass:datapass}).then((resp) => {
                // console.log(resp.data.status)
                if(resp.data.status == 'success')
                {
                    this.$swal.fire({
                        title: 'La contraseña ha sido cambiada con exito!',
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonColor: '#87ED6F',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                    })
                    this.dataPass.pass = ''
                    this.dataPass.newPass = ''
                    this.dataPass.passval = ''
                    this.response.validation_passnew.status = false
                    this.response.validation_passnew.text = ''
                    this.response.charginButton = false
                }
                else{
                    if(resp.data.status == 'failed')
                   { 
                        this.$swal.fire({
                        title: 'Ups :(. Ocurrio un error inesperado. Intentelo más tarde!',
                        type: 'error',
                        showCancelButton: false,
                        confirmButtonColor: '#E76F55',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                        })
                        this.response.charginButton = false
                        return false
                    }
                    if(resp.data.status == 'failedpass')
                    {
                        this.$swal.fire({
                        title: 'Error!. La contraseña actual ingresada no coincide con la contraseña de la actual sesión',
                        type: 'error',
                        showCancelButton: false,
                        confirmButtonColor: '#E76F55',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                        })
                        this.response.charginButton = false
                        return false
                    }
                }
            })
        },
        updateMail() {
            let datamail = {
                id: this.data.id,
                fields:[{key:'mail',value:this.data.mail}]
            }
            let data = this.$myCryptor.encode(datamail)
            axios.post('/auth/update/someInfo',{data:data}).then((resp) => {
               if(resp.data.status == 'success')
               {
                    this.$swal.fire({
                        title: 'La dirección de correo eléctronico ha sido actualizada!',
                        text: 'Los cambios se verán reflejados la próxima vez que inicie sesión',
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonColor: '#87ED6F',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                    })
                    this.data.mail = ''
                    this.data.phone = ''
                    this.editmail = false
                    // this.sessdata()
               }
               else
               {
                    this.$swal.fire({
                        title: 'Ups :(. Ocurrio un error inesperado. Intentelo más tarde!',
                        type: 'error',
                        showCancelButton: false,
                        confirmButtonColor: '#E76F55',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                        })
               } 
            })
        },
        updatePhone() {
            let dataphone = {
                id: this.data.id,
                fields:[{key:'phone',value:this.data.phone}]
            }
            let data = this.$myCryptor.encode(dataphone)
            axios.post('/auth/update/someInfo',{data:data}).then((resp) => {
            if(resp.data.status == 'success')
               {
                    this.$swal.fire({
                        title: 'El número teléfonico ha sido actualizado!',
                        text: 'Los cambios se verán reflejados la próxima vez que inicie sesión',
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonColor: '#87ED6F',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                    })
                    this.data.mail = ''
                    this.data.phone = ''
                    this.editphone = false
                    // this.sessdata()
               }
               else
               {
                    this.$swal.fire({
                        title: 'Ups :(. Ocurrio un error inesperado. Intentelo más tarde!',
                        type: 'error',
                        showCancelButton: false,
                        confirmButtonColor: '#E76F55',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                        })
               }
            })
        }
    }
}
</script>
