<template>
    <div class="container my-2 mb-0">
        <h4 class="text-center poppins text-dark font-weight-bold text-uppercase">Historial de compras</h4> 
        <hr class="bg-dark-blue">
        <!-- <el-divider></el-divider> -->
        <div class="d-flex justify-content-center">
            <el-date-picker
            class="w-80 mb-4"
            v-model="dateRange"
            type="daterange"
            align="center"
            unlink-panels
            range-separator="-"
            start-placeholder="Desde"
            end-placeholder="Hasta"
            :picker-options="pickerOptions"
            :default-time="['00:00:00', '23:59:59']"
            >
            </el-date-picker> 
        </div>
        <data-tables v-loading.body="loading" :table-props="tableProps" :data="dataOrders" :filters="filters" >
            <el-table-column type="expand">
            <template slot-scope="props">
                <el-card  v-for="(items,index) in props.row.details" :key="index">
                <p class="poppins-bold">PRODUCTOS # {{index+1}}</p>
                <el-divider></el-divider>
                <p class="poppins">Producto:&nbsp;<span class="poppins-light">{{ items.product }}</span></p>
                <p class="poppins">Cantidad:&nbsp;<span class="poppins-light">{{ items.quantity }}</span></p>
                <p class="poppins">precio:&nbsp;<span class="poppins-light">{{'$ '+items.price.toLocaleString('de-DE') }}</span></p>
                </el-card>
            </template>
            </el-table-column>
            <el-table-column prop="reference" label="ID compra" header-align="center" align="center">
            </el-table-column>
            <el-table-column prop="totalAmount" label="Total" header-align="center" align="center">
                <template slot-scope="scope">
                    {{scope.row.totalAmount.toLocaleString('de-DE')}}

                </template>
            </el-table-column>
             <el-table-column prop="internalStatus" label="Estado del pedido" header-align="center" align="center">
                 <template slot-scope="scope">
                    <el-tag effect="dark" type="warning" v-if="scope.row.internalStatus.status == 'En Preparación'">En Preparación</el-tag>
                    <el-tag effect="dark"  v-if="scope.row.internalStatus.status == 'Listo para envío'">Listo para envío</el-tag>
                    <el-tag effect="dark" type="info" v-if="scope.row.internalStatus.status == 'Enviado'">Enviado</el-tag>
                    <el-tag effect="dark" type="success" v-if="scope.row.internalStatus.status == 'Recibido'">Recibido</el-tag>
                 </template>
            </el-table-column>
            <el-table-column prop="payDate" label="Fecha de compra" header-align="center" align="center">
                <template slot-scope="scope">
                    {{scope.row.payDate.split('T')[0]}}
                </template>
            </el-table-column>
        </data-tables>     
    </div>
</template>
<script>
export default {
    //crear ruta en vue router
    data() {
        return {
            dateRange: '',
            pickerOptions: {
            shortcuts: [{
                text: 'Ultima semana',
                onClick(picker) {
                const end = new Date();
                const start = new Date();
                start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                picker.$emit('pick', [start, end]);
                }
            }, {
                text: 'Ultimo mes',
                onClick(picker) {
                const end = new Date();
                const start = new Date();
                start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                picker.$emit('pick', [start, end]);
                }
            }, {
                text: 'Ultimos 3 meses',
                onClick(picker) {
                const end = new Date();
                const start = new Date();
                start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                picker.$emit('pick', [start, end]);
                }
            }]
            },
            allProducts:[],
            orders:[],
            dataOrders:[],
            userType:'',
            loading:false,
            tableProps: 
            {
                border: false,
                stripe: true,
                defaultSort: {                
                order: 'descending'
                }
            },
            filters: [{}],
            tag:{
                warning:'warning',
                danger:'danger',
                success:'success',
                info:'info'
            }

        }
    },
    watch: {
        'dateRange': function (newVal) {

        if(newVal != null)
        {
           this.dataOrders = []
           let startDate = Date.parse(newVal[0])
            let endDate = Date.parse(newVal[1])                
            for (const key in this.orders) {
                let rangeDate = Date.parse(this.orders[key].payDate)
                if(rangeDate >= startDate && rangeDate <= endDate) {
                            
                    this.dataOrders.push(this.orders[key])
                
                }                  
            } 
        }else {

            this.dataOrders = this.orders
        }
    }

    },
    mounted() {
        this.sessdata()
        this.getProducts()
        this.dateRange = null
        
    },
    methods:{
        sessdata() {
            axios.post('/auth/sessdata', {fields: ['userType', 'name', 'mail']}).then(resp => 
            {                     
                let res = this.$myCryptor.decode(resp.data.data);                                                        
                this.userType = res[0]
            })
        },
        statuses(ref) {
            let a = ''
            switch (ref) {
                        case 'waiting':
                            a = 'En Preparación'           
                            break;
                        case 'ready':
                            a = 'Listo para envío'     
                            break;
                        case 'delivered':
                           a = 'Enviado'        
                            break;
                        case 'received': 
                           a = 'Recibido'
                            break;
                        case 'Approved':
                            a = 'Aprobado'
                            break;
                        case 'Rejected':
                            a = 'Rechazado'
                            break;
                        case 'Pending':
                            a = 'Pendiente'
                            break;    
                        default:
                            break;
            }
            return a
        
            
        },
        infoProducts(id) {
            let data = {
                name:'',
                price:''
            }    
            if(id)
            {
                for (let index = 0; index < this.allProducts.length; index++) {
                    if(this.allProducts[index]._id == id)
                    {
                        data.name = this.allProducts[index].name
                        data.price = this.allProducts[index].prices.rec
                    }
                }     
            
            }
            return data
        },
        getProducts(){   
            axios.post('/auth/getAllPro', {onlyActive: false}).then(resp => {
                if(resp.data.status == 'success') { 
                    this.allProducts = resp.data.data
                    this.getMyBuys()
                }
            })
        },
        getMyBuys() {
            axios.post('/auth/getMyBuys')
            .then(resp => {
                if(resp.data.status = 'success') {
                    let datis = this.$myCryptor.decode(resp.data.data)
                    // this.myOrders.orders = datis
                    // console.log('purchases',datis)
                    let info = {
                        reference:'',
                        internalStatus:{
                            status:''
                        },
                        details:[],
                        status:'',
                        payDate:null,
                        totalAmount:''
                    }
                    for (let index = 0; index < datis.length; index++) {
                       info.reference = datis[index].paymentRef.substring(datis[index].paymentRef.length - 7)
                       
                    for (let indexe = 0; indexe < datis[index].orderDetails.length; indexe++) {
                          
                        let infopro = this.infoProducts(datis[index].orderDetails[indexe].product)
                        info.details.push({product:infopro.name,price:infopro.price,quantity:datis[index].orderDetails[indexe].quantity})
                    //    info.details.push(datis[index].orderDetails[indexe])
                        
                    }
                    
                    info.internalStatus.status = this.statuses(datis[index].internalStatus.status)
                    info.status = this.statuses(datis[index].purchaseStatus)
                    info.payDate = datis[index].payDate
                    info.totalAmount = datis[index].totalAmount
                    this.orders.push(info)    
                    info = {
                        reference:'',
                        internalStatus:{
                            status:''
                        },
                        details:[],
                        status:'',
                        payDate:null,
                        totalAmount:''
                    }
                        
                    }
                }
            })
        }
        
    }
}
</script>