<template>
    <div class="container my-1 p-0" >        
        <h4 class="encabezado mt-0 mb-1 poppins">Apertura de Código <span v-if="pattern_side != null">A {{$route.params.id}}</span></h4>
        <hr class="mt-0 mb-2">
        <form action="" class="form-row"  name="form-register">
            <div class="col-12 mb-1 col-lg-12 px-1 col-md-12">
                <p class="poppins title">información de posicionamiento</p>
            </div>
            <!-- <div class="col-lg-4 col-md-6 text-center item-align-center">
               <span>(1)</span> <button class="btn btn-secondary pt-1">Actualizar<i class="fa fa-refresh"></i></button>
            </div> -->
            <div v-if="pattern_side == null" class="form-group col-lg-4 px-2 col-md-6">
                        <label for="town1">Afiliado de ubicación <i class="mx-1 text-danger fa fa-asterisk p-0 mb-0" style="font-size:10px"></i> <span class="text-danger">(1)</span></label>
                       
                         <el-select filterable v-model="dataForm.pattern" class="col-lg-12 pl-0 mx-0 px-0" placeholder="Selecione una opción" name="persona">
                                <!-- <el-option v-for="(persona,index) in afiliados" :key="index" :label="persona.name.first+' '+persona.name.last" :value="persona._id" v-if="persona.sons.left != null && persona.sons.right != null" disabled></el-option> -->
                                <!-- <el-option v-for="(persona,index) in afiliados" :key="index" :label="persona.name.first+' '+persona.name.last" :value="persona._id"></el-option> -->
                                <el-option v-for="(persona,index) in afiliados" :key="index" :label="persona.name.first+' '+persona.name.last" :value="persona._id" :disabled="(persona.sons.left != null && persona.sons.right != null)" v-if="!validPeriod"></el-option>
                                <el-option v-for="(persona,index) in afiliados" :key="index" :label="persona.name.first+' '+persona.name.last" :value="persona._id" :disabled="(persona.sons.left != null && persona.sons.right != null)" v-else-if="validPeriod && persona.status"></el-option>
                            </el-select>
                    </div>

            <div v-if="pattern_side == null" class="form-group col-lg-4 px-2 col-md-6">
                        <label for="town1">Posición <i class="mx-1 text-danger fa fa-asterisk p-0 mb-0" style="font-size:10px"> </i> <span class="text-danger">(2)</span></label>
                         <el-select  v-model="dataForm.side" class="col-lg-12 pl-0 mx-0 px-0" placeholder="Selecione una opción" name="posicion" :disabled="dataForm.pattern == ''">
                                <el-option v-for="(pos,index) in position" :key="index" :label="pos.name" :value="pos.pos"></el-option>
                            </el-select>
            </div>
            <div class="col-12 mb-2 col-lg-12 px-1 col-md-12">
            <hr>
            </div>
            <div class="col-12 mb-1 col-lg-12 px-1 col-md-12">
                <p class="poppins title">Información básica</p>
            </div>
            <div  id="name"    class="col-12 mb-2 col-lg-3 col-md-6 px-1">
                <label for="" >Primer Nombre <i class="mx-1 text-danger fa fa-asterisk p-0 mb-0" style="font-size:10px"></i> <span class="text-danger">(3)</span></label>
                <input type="text" class="form-control" id="first-name" name="name-01" v-model="firstname">
            </div>
            <div class="col-12 mb-2 col-lg-3 px-1 col-md-6 " id="cont-second-name">
            <label for="" >Segundo Nombre (4)</label>
            <input type="text" class="form-control" id="second-name" name="name-02" v-model="secondname">
            </div>

            <div class="col-12 mb-2 col-lg-3 px-1 col-md-6" id="cont-last-name">
                <label   for="">Primer Apellido <i class="mx-1 text-danger fa fa-asterisk p-0 mb-0" style="font-size:10px"></i> <span class="text-danger">(5)</span></label>
                <input type="text" class="form-control" name="surname-01" v-model="lastfname">
            </div>

            <div class="col-12 mb-2 col-lg-3 px-1 col-md-6" id="second-surname">
                <label   for="">Segundo Apellido <i class="mx-1 text-danger fa fa-asterisk p-0 mb-0" style="font-size:10px"></i> <span class="text-danger">(6)</span></label>
                <input type="text" class="form-control" name="surname-02" v-model="lastlname">
            </div>

        <div class="col-lg-4 mb-2 col-sm-12 col-md-6" id="cont-dni">
            <label for="">Sexo <i class="mx-1 text-danger fa fa-asterisk p-0 mb-0" style="font-size:10px"></i> <span class="text-danger">(7)</span></label>
            <el-select  class="col-lg-12 pl-0 mx-0 px-0"  v-model="dataForm.gender" clearable placeholder="Seleccione una opción">
                    <el-option
                    v-for="sexo in sex" :key="sexo.value" :label="sexo.label" :value="sexo.value">
                    </el-option>
                </el-select>
        </div> 

        <div class="col-lg-4 mb-2 col-sm-12 col-md-6" id="cont-dni">
            <label  for="">Tipo de identificación <i class="mx-1 text-danger fa fa-asterisk p-0 mb-0" style="font-size:10px"></i> <span class="text-danger">(8)</span></label>
            <el-select class="col-lg-12 pl-0 mx-0 px-0" v-model="dataForm.dni.dniType" clearable placeholder="Seleccione una opción">
            <el-option
            v-for="item in dni" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
        </el-select>
        </div>

        <div class="col-lg-4 mb-2  col-sm-12 px-2 col-md-6">
            <label for="">N° De Identificación <i class="mx-1 text-danger fa fa-asterisk p-0 mb-0" style="font-size:10px"></i> <span class="text-danger">(9)</span></label>  
                    <!-- <input type="number" v-if="dataForm.dni.dniType != 'P.P' && dataForm.dni.dniType != 'NIT'" min="1" @change="uniquePerson" :class="{'is-invalid border-danger': response.uniquePerson.status, 'is-valid': response.uniquePerson.status == false}" required name="document" class="form-control" v-model="dataForm.dni.dni"> -->
                    <input type="text" @change="uniquePerson" :class="{'is-invalid border-danger': response.uniquePerson.status, 'is-valid': response.uniquePerson.status == false}" required name="document" class="form-control" v-model="dataForm.dni.dni">
                    <div class="poppins" :class="{'invalid-feedback': response.uniquePerson.status, 'valid-feedback': !response.uniquePerson.status}">
                                {{ response.uniquePerson.text }}
                    </div>
                
        </div>
        <div class="col-12 mb-2 col-lg-12 px-1 col-md-12">
            <hr>
        </div>
        <div class="col-12 mb-1 col-lg-12 px-1 col-md-12">
                <p class="poppins title">Información de contacto</p>
            </div>
        <div class="col-12 mb-2 col-lg-3 px-1 col-md-6" id="phone">
                <label for="">Teléfono <i class="mx-1 text-danger fa fa-asterisk p-0 mb-0" style="font-size:10px"></i> <span class="text-danger">(10)</span></label>
                <input type="text" class="form-control" name="phone" :class="{'is-invalid border-danger': response.validation_phone.status, 'is-valid': response.validation_phone.status == false}" v-model="dataForm.phone" @change="valPhone">
                <div class="poppins" :class="{'invalid-feedback': response.validation_phone.status, 'valid-feedback': !response.validation_phone.status}">
                                {{ response.validation_phone.text }}
                    </div>
        </div>

            <div class="col-lg-3 mb-2 col-sm-12 col-md-6">
                                <label for="dep">Departamento: <i class="mx-1 text-danger fa fa-asterisk p-0 mb-0" style="font-size:10px"></i> <span class="text-danger">(11)</span></label>                        
                                    <el-select v-model="location.dep" class="col-lg-12 pl-0 mx-0 px-0" placeholder="Selecione una opción" name="departamento">
                                        <el-option v-for="(loc,index) in dept" :key="index" :label="loc.departamento" :value="loc.departamento+'/'+index"></el-option>
                                    </el-select>
                                    
                            </div>

                            <div class="form-group col-lg-3 px-2 col-md-6">
                                <label for="town1">Ciudad: <i class="mx-1 text-danger fa fa-asterisk p-0 mb-0" style="font-size:10px"></i> <span class="text-danger">(12)</span></label>
                            
                                <el-select  v-model="dataForm.address.city" class="col-lg-12 pl-0 mx-0 px-0" placeholder="Selecione una opción" name="ciudad" :disabled="location.dep == null">
                                        <el-option v-for="(town,index) in cit" :key="index" :label="town" :value="town"></el-option>
                                    </el-select>
                            </div>

        <div class="col-12 mb-2 col-lg-3 px-1 col-md-6" id="address">
                        <label for="">Dirección <i class="mx-1 text-danger fa fa-asterisk p-0 mb-0" style="font-size:10px"></i> <span class="text-danger">(13)</span></label>
                        <input type="text" class="form-control" name="address-01" v-model="dataForm.address.addInfo">
                    </div>

        <div class="col-lg-3 mb-2 col-sm-12 col-md-12">
                    <label for="">Correo <i class="mx-1 text-danger fa fa-asterisk p-0 mb-0" style="font-size:10px"></i> <span class="text-danger">(14)</span></label>
                <input @change="valEmail" type="email" :class="{'is-invalid border-danger': response.validationMail.status, 'is-valid': response.validationMail.status == false}" required name="email" class="form-control" v-model="dataForm.mail" >
                        <div class="poppins" :class="{'invalid-feedback': response.validationMail.status, 'valid-feedback': !response.validationMail.status}">
                            {{ response.validationMail.text }}
                        </div>     
        </div>
        
        <div class="col-lg-3 mb-2 col-sm-12 col-md-6" id="cont-dni">
            <label for="">Tipo de Usuario <i class="mx-1 text-danger fa fa-asterisk p-0 mb-0" style="font-size:10px"></i> <span class="text-danger">(15)</span></label>
            <el-select class="w-100" v-model="dataForm.accessData.userType" clearable placeholder="Seleccione una opción">
                    <el-option v-for="usuario in user" :key="usuario.value" :label="usuario.label" :value="usuario.value">
                    </el-option>
                </el-select>
        </div>
                    
            <div class="col-lg-12 item-center text-center">            
                <el-button type="success" :loading="response.charginButton" effect="dark" class="bg-btn poppins" @click.prevent="valinputs">Registrar</el-button>            
            </div>    
        </form>
    </div>  
</template>
<style>
    label
    {
        margin-bottom: 0;
    }
</style>
<script>
let city = require('../Utilities/colombian-citys.json')
let dataPerson={
    name:{
        first:'',
        last:''
    },
    gender:'',
    address:{
        country:'Colombia',
        city:'',
        addInfo:''
    },
    dni:{
        dniType:'',
        dni:''
    },
     sonsNumber: 0,
    //  sons:{
    //      left:null,
    //      right:null
    //  },
    side:'',
    mail:'',
    phone:'',
    bankAccount: {
        account: null,
        bank: null
    },
    pattern:'',
    realPattern:'',
    accessData:{
        userCode: '',
        password: '',
        userType:'',
        // token:'testingyfefaleferga'
        token: ''
    }
}
 export default {
    data() {
      return {
        firstname:'',
        secondname:'',
        verify: false,
        lastfname:'',
        lastlname:'',
        validPeriod: false,
        pattern_side: null,  
        response:
            {
                charginButton: false,
                uniquePerson: 
                {
                    text: '',
                    status: null
                },
                validationMail:{
                    text:'',
                    status:null
                },
                validation_phone:{
                    text:'',
                    status:null
                }
            },
            res:{
                data: null
            },
            person:{
                dni:{
                    dni:''
                },
                email:''
            },
            location:{
                town:null,
                dep:null
            },
            cit:[],
            dept:city,

            afiliados:[],
            perAfiliada:'',
            position:[],
            posicion:'',
            dataForm: dataPerson,
            sons: {
                left: null,
                right:null
            },
            dni:[{
                value: 'C.C',
                label:'Cédula de Ciudadania'
            },
            {
                value:'C.E',
                label:'Cédula de extranjería'
            },
            {
                value:'NIT',
                label:'NIT'
            },
            {
                value:'PAS',
                label:'Pasaporte'
            }
            ],
            sex:[{
                value:'M',
                label:'Masculino'
            },{
                value:'F',
                label:'Femenino'
            },{
                value:'O',
                label:'Otro'
            }
            ],
            user:[{
                value:'Consumidor',
                label:'Consumidor'
            },{
                value:'Distribuidor',
                label:'Distribuidor'
            },{
                value:'Empresario',
                label:'Empresario'
            }
            ]
      }
      
    },
    watch:{
        'location.dep': function (newVal) { 
            if(newVal != null){
                this.cit = []
                let dep = newVal.split('/')
                this.dataForm.address.city = ''
                var dept = dep[0]
                var cd = dep[1]
                let array_dep = this.dept[cd].ciudades
                for (let index = 0; index < array_dep.length; index++) {
                    var city = array_dep[index];
                    this.cit.push(city)  
                }
            }
        },
        'dataForm.pattern': function (newVal) { 
            if(newVal != null){
                this.position = []
                this.dataForm.side = ''
                this.dataForm.address.city
                this.dataForm.pattern=newVal
                for (let index = 0; index < this.afiliados.length; index++) {
                    let personleft = this.afiliados[index].sons.left;
                    let personright=this.afiliados[index].sons.right; 
                    let person=this.afiliados[index]._id;
                    if (this.dataForm.pattern==person) {
                        if (personleft==null) {
                            this.position.push({pos:'left',name:'izquierda'}) 
                        }if (personright==null) {
                            this.position.push({pos:'right',name:'derecha'}) 
                        }
                        break;
                    }
                    
                }
            }
        },
        'dataForm.dni.dniType':function (newVal){
            if(newVal != null)
            {
                this.dataForm.dni.dni = ''
                this.response.uniquePerson.text = ''
                this.response.uniquePerson.status = null
            }
        }
    },
    mounted(){
        $('body').css(
        {
          background: 'none'  
        })
        $('body .main-app > div').addClass('white-bg').css({background: 'white'})        
        $('.particles-js-canvas-el').addClass('d-none')
        if(this.$route.params.id)
            this.pattern_side = this.$route.params.id
        this.sessdata()
        // setTimeout(() => {
        //     this.listPerson()
        // }, 500); 
        let a = new Date()    
        let b = new Date('09/11/2019')
        if(a >= b)
        { 
            this.validPeriod = true
        } 
        this.clearInputs()
    },
    methods:{
        sessdata() {
            axios.post('auth/sessdata',{fields: ['name','sons','_id']}).then((resp)=>{
                 let res = this.$myCryptor.decode(resp.data.data);
                 this.dataForm.realPattern = res[2]
                 this.sons.left = res[1].left
                 this.sons.right = res[1].right
                let idrp = res[2]
                this.listPerson()
            })
        },
        async generateToken()
        {
            this.dataForm.accessData.token = ''
            let t = ''
            var s = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
            let v = false
            do {
            let n = Math.floor(Math.random() * (20 - 10)) + 10 
            t = Array(n).join().split(',').map(function() { return s.charAt(Math.floor(Math.random() * s.length)); }).join('').substring(0, 8);
            await this.checkForToken(t)
            v = this.verify
            } while(!v) 
            this.dataForm.accessData.token = t
        }, 
        validEmail(email) {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        },

        async checkForToken(token) {
             await axios.post('/auth/getPersonByParams', {queryParams:{'accessData.token': token}})
            .then(resp => {
                if(resp.data.status == 'failed')
                    this.verify = true
                else
                    this.verify = false
            })
        },
        clearInputs() {
        this.firstname = ''
        this.secondname= ''
        this.lastfname = ''
        this.lastlname = ''
        this.dataForm.name.first = ''
        this.dataForm.name.last = ''
        this.dataForm.gender = ''
        this.dataForm.address.city = ''
        this.dataForm.address.addInfo = ''
        this.location.dep = null
        this.dataForm.dni.dni = ''
        this.dataForm.dni.dniType = ''
        this.dataForm.side = ''
        this.dataForm.mail = ''
        this.dataForm.phone = ''
        this.dataForm.pattern = ''
        this.dataForm.accessData.userType = ''
        this.cit = []
        this.response.uniquePerson.text = ''
        this.response.uniquePerson.status = null
        this.response.validationMail.text = ''
        this.response.validationMail.status = null
        this.response.validation_phone.text = ''
        this.response.validation_phone.status = null
        this.response.charginButton = false
        },
        setup_cc(n)
        {
            var num = /^(0|[1-9][0-9]*)$/.test(n)
            //   return num
            // console.log('other',num)
             if(num == false)
             {
                this.response.uniquePerson.status = true
                this.response.uniquePerson.text = 'Número de identificación inválido'
             }else{
                this.response.uniquePerson.status = false
                this.response.uniquePerson.text = 'Aprobado'
             }
        },
        setup_nit(n){
            // var num = /^([0-9][0-9])*([-/0-9][0-9])+([0-9][0-9])$/.test(n)
            var num = /^[1-9][0-9]*([-][0-9]{1,3})$/.test(n)
            //   return num
            // console.log('nit',num)
             if(num == false)
             {
                this.response.uniquePerson.status = true
                this.response.uniquePerson.text = 'NIT inválido'
             }else{
                this.response.uniquePerson.status = false
                this.response.uniquePerson.text = 'Aprobado'
             }
            },
        setup_pp(n){
            // var num = /^(0|[1-9][0-9])*$/.test(n)
            var num = /^[0-9a-zA-Z]+$/.test(n)
            //   return num
            // console.log(num)
             if(num == false)
             {
                this.response.uniquePerson.status = true
                this.response.uniquePerson.text = 'Número de pasaporte inválido'
             }else{
                this.response.uniquePerson.status = false
                this.response.uniquePerson.text = 'Aprobado'
             }
            }, 
        uniquePerson()
        {
            if(this.dataForm.dni.dni != '' && this.dataForm.dni.dni.length >= 7)
            {
               
	            axios.post('/auth/getPersonByParams', {queryParams :{'dni.dni': this.dataForm.dni.dni}}).then((res) =>//ruta para traer la data   //auth/getPerson//
                {
                    if(res.data.status == 'failed')
                    {
                        if(this.dataForm.dni.dniType == 'PAS')
                        {this.setup_pp(this.dataForm.dni.dni)}
                        else if(this.dataForm.dni.dniType == 'NIT')
                        {this.setup_nit(this.dataForm.dni.dni)}
                        else if(this.dataForm.dni.dniType != 'PAS' && this.dataForm.dni.dniType != 'NIT')
                        {this.setup_cc(this.dataForm.dni.dni)}
                    }
                    else
                    {
                        this.response.uniquePerson.status = true
                        this.response.uniquePerson.text = 'Este Número de identificación ya se encuentra registrado'
                    }
                })
            }
            else
            {   
                this.response.uniquePerson.status = true
                this.response.uniquePerson.text = 'Número de identificación no válido'
            }
        },
        valEmail() {
            let mail=this.dataForm.mail
            if(mail != '' && !this.validEmail(mail) ){
                this.response.validationMail.status = true
                this.response.validationMail.text='Correo no válido'
            }else{
                this.response.validationMail.status = false
                this.response.validationMail.text=''
                this.uniqueMail()
            }
            if(mail == ''){
                this.response.validationMail.status = null
                this.response.validationMail.text=''
            }            
        },
        uniqueMail() {
            axios.post('/auth/getPersonByParams', {queryParams :{'mail': this.dataForm.mail}}).then((res) =>
            {
                if(res.data.status == 'failed')
                    {
                        this.response.validationMail.status = false
                        this.response.validationMail.text = ''
                    }
                    else
                    {
                        this.response.validationMail.text = ''
                        this.response.validationMail.status = true
                        this.response.validationMail.text = 'Esta dirección de correo eléctronico ya se encuentra registrada'
                    }
            })
        },
        setup_num(n){
            var num = /^(0|[0-9+/][0-9]*)$/.test(n)
              return num
            },
        valPhone()
        {
            let n = this.dataForm.phone
            if(n != '' && (!this.setup_num(n) || n.length < 7 ))
            {
                this.response.validation_phone.status = true
                this.response.validation_phone.text = ' número telefónico inválido. Debe contener solo números o "+" indicativo y mínimo 7 digitos'

            }else{
                this.response.validation_phone.status = null
                this.response.validation_phone.text = ''
            }  
        },    
        listPerson() {
            axios.post('/auth/getAllTree',{id: this.dataForm.realPattern}).then((resp) =>{
                for (let index in resp.data.data) {
                    this.afiliados.push(resp.data.data[index])
                }
            })
        },
        async valinputs(){
            this.response.charginButton = true
            let ob0 = 0
            let ob1 = 0
            let ob2 = 0
            let ob3 = 0
            await this.generateToken()
            this.response.charginButton = false
            let names = this.dataForm.name
            let address = this.dataForm.address
            let dni = this.dataForm.dni
            let name = {
                fname: this.firstname,
                lfname: this.lastfname,
                lsname: this.lastlname
            }
            if(this.secondname != '')
            {this.dataForm.name.first = this.firstname+" "+this.secondname}
            else{this.dataForm.name.first = this.firstname}
            this.dataForm.name.last = this.lastfname+" "+this.lastlname
            this.dataForm.pattern = this.dataForm.pattern.toString()
            // ciclo para validar campos vacios.
            for (const key in name) {
               if(name[key] == '') {   
                    ob0++
                }
            }
            // for (const key in names) {
            //     if(names[key] == ' ') {   
            //         ob1++
            //     }
            // }
            for (const key in address) {
                if (address[key] == '') {
                    ob2++  
                }
            }
            for (const key in dni) {
                if (dni[key] == '') {
                    ob3++    
                }
            }
            if(ob0 > 0 || ob2 > 0 || ob3 > 0 || this.dataForm.gender == '' || this.dataForm.mail == '' || this.dataForm.side == '' || this.dataForm.pattern == '' || this.dataForm.phone == '' || this.dataForm.accessData.userType == '')
            {
                this.response.charginButton = false
                this.$swal.fire({
                    title: 'Debe llenar los campos obligatorios',
                    type: 'warning',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar'
                    })
                    // .then((result) => {
                    //     if (result.value) {
                    //         window.location.href = '/print'
                    //     }
                    // })
                    return false
            } 
            if(this.response.uniquePerson.status == true)
            {   
                this.response.charginButton = false
                this.$swal.fire({
                    title: 'El número de identificación no es válido o ya ha sido registrado',
                    type: 'warning',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar'
                    })
                    $('input[name=document]').focus()
                    return false
            }
            if(this.response.validationMail.status == true)
            {   
                this.response.charginButton = false
                this.$swal.fire({
                    title: 'La dirección de correo electronico ingresada no es válida o ya se encuentra registrada',
                    type: 'warning',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar'
                    })
                    $('input[name=email]').focus()
                    return false
            }
            if(this.response.validation_phone.status == true)
            {
                this.response.charginButton = false
                this.$swal.fire({
                    title: 'El número teléfonico ingresado no es válido',
                    type: 'warning',
                    showCancelButton: false,
                    confirmButtonColor: '#E76F55',
                    cancelButtonColor: '#99908E',
                    confirmButtonText: 'Aceptar'
                    })
                    $('input[name=phone]').focus()
                    return false
            }
             if(ob1 == 0 && ob2 == 0 && ob3 == 0 && this.dataForm.gender != '' && this.dataForm.mail != '' && this.dataForm.side != '' && this.dataForm.phone != '' && this.dataForm.pattern != ''){
                 this.registerPerson()
             }


        },
        registerPerson(){
           let dataform = this.$myCryptor.encode(this.dataForm)
            axios.post('/auth/store',{data:dataform}).then((resp)=>{
                let res = resp.data.access;
                // console.log('datares:',resp.data.data)
                if(resp.data.status == 'success')
                {
                // let res = resp.data.access;
                    let user = res.user.toUpperCase()
                    let pass = res.password

                    this.$swal.fire({
                        title: 'La persona ha sido afiliada!',
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonColor: '#87ED6F',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                    }).then((result) => {
                        this.$swal.fire({
                        title: 'Por favor Copie la información de su nuevo afiliado',
                        html: '<p>Asegurese de guardar la siguiente información</p><p><b>USUARIO:</b> '+user+'</p> <p><b>CONTRASEÑA:</b> '+pass+' </p>',
                        type: 'info',
                        // showCancelButton: true,
                        // confirmButtonColor: '#E76F55',
                        // cancelButtonColor: '#99908E',
                        // confirmButtonText: 'Aceptar'
                        })
                    })
                    this.firstname = ''
                    this.secondname= ''
                    this.lastfname = ''
                    this.lastlname = ''
                    this.dataForm.name.first = ''
                    this.dataForm.name.last = ''
                    this.dataForm.gender = ''
                    this.dataForm.address.city = ''
                    this.dataForm.address.addInfo = ''
                    this.dataForm.dni.dni = ''
                    this.dataForm.dni.dniType = ''
                    this.dataForm.side = ''
                    this.dataForm.mail = ''
                    this.dataForm.phone = ''
                    this.dataForm.pattern = ''
                    this.dataForm.accessData.userType = ''
                     this.dataForm.accessData.token = ''
                    this.location.dep = null
                    this.cit = []
                    this.response.uniquePerson.text = ''
                    this.response.uniquePerson.status = null
                    this.response.validationMail.text = ''
                    this.response.validationMail.status = null
                    this.response.validation_phone.text = ''
                    this.response.validation_phone.status = null
                    this.response.charginButton = false
                    this.afiliados = []
                    this.listPerson()
                    

                }
                else{
                        this.$swal.fire({
                        title: 'Ups. Ocurrio un error inesperado!',
                        type: 'error',
                        showCancelButton: false,
                        confirmButtonColor: '#E76F55',
                        cancelButtonColor: '#99908E',
                        confirmButtonText: 'Aceptar'
                        }).then((result) => {
                            location.href = location.href
                        })
                }
            })
        }
    }
  }
</script>

<style>
.encabezado 
{
    margin-top: 40px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    /* border-bottom: 2px solid #AFB3B2; */
    /* text-align: center; */
    color: #AFB3B2;
}
.title {
     color: #AFB3B2;
}
.boton{
   margin-top: 50px;
    text-align: center;

}
#boton{
    background-color: #AFB3B2;
    border: solid #AFB3B2; 
}
label{
    color: #9CA3A1;
}
.bg{
     background-color: #AFB3B2;
    border:  #AFB3B2; 
}
.input-group-text{
    color: #F8FAF9;
}
.custom-select{
    color: #AFB3B2;
}

</style>
