<template>
     <div id="app">

             <tree :data="treeData" node-text="name" layoutType="circular" type="cluster" :radius="radius" zoomable></tree>
    </div>
</template>
<style>
/* make the horizontal and vertical connectors thick and change their color */
  .particles-js-canvas-el
  {
    width: 100%;
    height: 100vh;
    position: fixed;
    transform: translateY(0%);
    z-index: -1;
    top: 0;
    left:0;
  }
  svg {
    width: 100%;
    height:100vh;
}
.treeclass .nodetree circle {
    fill: #ffffff ;
    color:seashell !important;
    
}

.treeclass .linktree {
    fill: none;
    stroke: #ecf5ff !important;
    stroke-opacity: .4;
    stroke-width: 1.5px;
}
.treeclass .node--leaf text {
      /* text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff !important; */
      fill:#ffffff;
      padding: 10px;
      font-size:14px;
}
.treeclass .node--internal text {
      /* text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff !important; */
      padding: 10px;
      font-size:14px;
}

</style>

<script>
import {tree} from 'vued3tree';
export default {
    components:{
        tree
        },
    data() {
        return {
             treeData: {
            name: " Carlos Osorio ",
            children: [
                {
                    name: "Samuel Pineda",
                    children: [{name: "Pedro Castilla",id:'4657898'}, {name: "Francisco",children:[{name:"otro otro"},{name:"otro2 dos"}]}]
                },
                {
                    name: "Astrid nosese",
                    children: [{name: "Fabian Correa", id:'4565467657'}, {name: "valesita style"}]
                }
            ]
        },
        radius: 10
        }
    },
    mounted() {
        this.styleParticles()
    },
    methods: {
      styleParticles() {
            $('body').css(
            {
            'background-image': "url('../img/back/back (1).jpg')",
            'background-attachment': 'fixed',
            'background-size': 'cover',
            'background-position': 'top'
            })
            $('body .main-app > div').removeClass('white-bg').css(
            {
            background: 'transparent'  
            })
            $('.zoom-btn').removeClass('d-none')
            $('.particles-js-canvas-el').removeClass('d-none')
            particlesJS.load('main-appp','../js/particless.cfg.json');
        },  
    }
}
</script>
